* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  outline: none;
  text-decoration: none;
  
}
div#mb-5 {
  margin-bottom: 0rem !important;
  padding-top: 0rem !important;
}

.page-header {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  
}

.page-header-inner {
    background: rgba(0, 0, 0, 0.404);
}
.justify-content-center {
    justify-content: left;
}
ol.breadcrumb.justify-content-left.text-uppercase {
    background-color: transparent;
}

.breadcrumb-item + .breadcrumb-item::before {
    color:#000;
    background-color: transparent;
  
}
.breadcrumb-item::before {
    color: #000;
}

.breadcrumb-item a {
    color: #dc6b6b;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.breadcrumb-item a:hover {
    color: #dc6b6b;
    
}
.mb-5, .my-5 {
    margin-bottom: 0rem!important;
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
  h1.display-3.text-white.mb-3.animated.slideInDown{
    font-size: 35px;
  }
  li.breadcrumb-item {
    font-size: 8px;
}

}
@media screen and (min-width: 0px) and (max-width: 767px) {
  h1.display-3.text-white.mb-3.animated.slideInDown{
    font-size: 35px;
  }
  li.breadcrumb-item {
    font-size: 8px;

}

}
body {
  height: 100%;
}
img {
  background-size: cover;
  background-position: center;
}
.pt-5, .py-5 {
   padding-top: 0rem!important; 
}
.h2{
  color: #dc6b6b;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

.project-heading h3{
  color: #fff;
}

body {
  --heading-font: 'Roboto Condensed', sans-serif;
  --heading-font-weight: 700;
  --heading-color: #313131;
  --heading-line-height: 1.24;

  --accent-color: #D06051;
  --linear-gradient: linear-gradient(90deg, # 0%, #D06051 100%);


  /* bootstrap */



/* h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: var(--heading-font);
  font-weight: var(--heading-font-weight);
  color: var(--heading-color);
  line-height: var(--heading-line-height);
  letter-spacing: 0.065rem;
  text-transform: uppercase;
} */

/* h6 {
  font-style:normal;
  font-weight: 400;
  letter-spacing: 0.19rem;
} */}
h2.text-center.fw-bold.display-4.mb-5 {
  color: #dc6b6b;
  margin-bottom: 0rem !important;
  font-size: 35px;
}
h5.text-center.mt-5 {
  font-size: 20px;
}

.heading-color {
  color: var(--accent-color);
}

a {
  text-decoration: none;
}


/* bootstrap button style  */

.btn {
  --bs-btn-padding-x: 1.88em;
  --bs-btn-padding-y: 0.75rem;
  --bs-btn-font-size: 1.1875rem;
  --bs-btn-font-weight: 700;
  border-radius: 0;
  text-transform: uppercase;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #fff;
  --bs-btn-border-color: #fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #fff;
  --bs-btn-hover-border-color: #dcdcdc29;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #fff;
  --bs-btn-active-border-color: #fff;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #fff;
  --bs-btn-disabled-border-color: #fff;
}
h3.project-heading {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  width: 100%; /* Set the width to 100% */
  padding: 0px 10px 0px 10px;
  text-align: center;
  /* box-sizing: border-box; */
}
/* .btn-primary {
  background-image: linear-gradient(to right, #1d1d1b 0%, #000000 51%, #1d1d1b 100%);
  background-size: 200% auto;
  border: none;
  transition: 0.7s all;
  -webkit-transition: 0.7s all;
}

.btn-primary:hover {
  background-position: right center;
} */

/*---- projects section style start ----*/
.pt-5, .py-5 {
  padding-top: 0rem!important;
}

.p-0 {
  padding: 0!important;
}
.mb-5 {
  margin-bottom: 0rem!important;
}
.mt-5, .my-5 {
  margin-top: 0rem!important;
}
section#mb5
{
  padding-bottom: 0rem !important;
}
section#projects {
  background:transparent;
}
.text-center  .fw-bold .display-4 .mb-5 h2
{
  color: #dc6b6b;
}
.text-center  .fw-bold .display-4 .mb-5 h6
{
  color: #212529;
}
button.filter-button {
 border-radius: 10px;
  border: 1px solid #dc6b6b;
  background: #fff;
  color: #000000;
    /* text-transform: uppercase; */
  font-size: 1rem;
  /* transition: all 0.3s ease-in; */
}

button.filter-button.active {
  color: #ffffffff;

  box-shadow: inset 0 0 0 0 #dc6b6c;
  background: #dc6b6b;
}

/* button.filter-button:hover {
  color: var(--bs-dark);
  background: var(--bs-light);
} */


.item .description {
    height: 92%;
    width: 99%;
    position: absolute;
    bottom: 5px;
    left: 4px;
    /* right: -60px; */
    /* opacity: 0; */
    background:transparent;
    /* transition: all 0.5s ease-in; */
    border-radius: 8px;
    margin-top: -2px;
    padding: 5px;
    object-fit: cover;
}
img.img-fluid {
  
  border-radius: 10px;
  margin-top: 8px;
  padding: 5px;
  position: relative;
  height: 212px;
  width: 100%;
  object-fit: cover;


}

/* .item:hover .description {
  opacity: 1;
} */
@media only screen and (min-width:280px) and (max-width: 1180px) {
  .item .description {
    text-align: center;
width: 86%;
color: (220, 107, 107, 0.981);
  }
  h3.project-heading {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size:15px;
    font-weight: 800;
    width: 100%; /* Set the width to 100% */
    padding: 0px 10px 0px 10px;
}
}
@media only screen and (min-width:280px) and (max-width: 767px) {
  .item .description {
    text-align: center;
    width: 102%;
  }
}
@media only screen and (min-width:768px) and (max-width: 1280px) {
  .item .description {
    text-align: center;
width: 98%;
  }

  .project-date,
  .project-heading {
    display:flex;
    text-align: center;
    justify-content: center;
  }
}

@media only screen and (min-width:770px) and (max-width: 1200px) {

  h3.project-heading {
    color: #fff;
    font-size: 13px;
    text-align: center;
    justify-content: center;
    padding: 0px 10px 0px 10px;
  }
  a.btn.btn-primary.mt-3{
    font-size: small;
    width:auto;
    margin : auto;
  }
}
@media (min-width: 768px){
.col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

}
