*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

  font-family: 'Montserrat', sans-serif;

     
}

.col-md-6 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

div#mb-5 {
  margin-bottom: 0rem !important;
}

.page-header {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  
}

.page-header-inner {
    background: rgba(0, 0, 0, 0.404);
}
.justify-content-center {
    justify-content: left;
}
ol.breadcrumb.justify-content-left.text-uppercase {
    background-color: transparent;
}

.breadcrumb-item + .breadcrumb-item::before {
    color:#000;
    background-color: transparent;
  
}
.breadcrumb-item::before {
    color: #000;
}

.breadcrumb-item a {
    color: #dc6b6b;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.breadcrumb-item a:hover {
    color: #dc6b6b;
    
}
.mb-5, .my-5 {
    margin-bottom: 0rem!important;
}

 /* end of heading */
 @media screen and (min-width: 768px) and (max-width: 1024px) {
  h1.display-3.text-white.mb-3.animated.slideInDown{
    font-size: 35px;
  }
  li.breadcrumb-item {
    font-size: 8px;
}

}
@media screen and (min-width: 200px) and (max-width: 767px) {
  h1.display-3.text-white.mb-3.animated.slideInDown{
    font-size: 35px;
  }
  li.breadcrumb-item {
    font-size: 8px;
}
}
 
@media(max-width:1024px){
    html{
       font-size: 60%;
    }
 
   
 
    .title{
       font-size: 3rem;
    }
    .tabs > ul li a {
       font-size: 1rem !important ;
       padding: 10px;
    }
  
 }

 .btn-primary {
  color: #fff;
  background-color: #dc6b6b;
  border-color: #dc6b6b;
}
#btn-blog {
  color: #ffff;
  background-color: #dc6b6b;
  border-color: #dc6b6b;
  border-radius: 10px;
}
.card-header {
  border-radius: 10px;
}
div#carreras {
  border-radius: 10px;
}
@media only screen and (min-width:0px) and (max-width: 991px) {
  a#btn-competencia {
    border-radius: 10px;
    font-size: larger;
  }
}
 section#section1,
 section#section2,
 section#section3 {
  padding: 25px;

  }
div#modulo{
  background: #ede4e4e0;
  margin: 0px;
  border-radius: 10px;
  margin-block: 10px;

}
menu {
  padding: 10px;
  margin: 5px;
  background-color: white;
  border-radius: 10px;
}

.col-lg-8 {
    background:white;
    margin: 0px;
    border-radius: 10px;
    margin-block: 10px;
}
h3.mb-3 {
  text-align:justify;
  color: #dc6b6b;
  font-size: 30px;
}
 .col-md-4 {
  /* background-color: #a2c6c6; */
  padding: 0;
 }
  @media only screen and (device-width: 768px) {
  div#modulo{
    width: 730px;
  }
}

@media only screen and (device-width: 912px){
div#modulo {
    width: 730px;
}
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  div#modulo {
    width: 730px;
}
}

/* #btn-blog {
  color: #ffff;
  background-color: #dc6b6b;
  border-color: #dc6b6b;
  border-radius: 10px;
} */

.col-lg-12 {
  display: flex;
}


@media screen and (min-width: 412px) and (max-width: 824px){
.tabs > ul li a {
    font-size: 11px !important;
    padding: 10px;
    text-align: center;
    justify-content: center;
}
}
.container{
  justify-content: center;
}

/* aside */
.mb-0 {
  margin-bottom: 0!important;
  
}

.card {
  position: relative;
  margin: auto;
  height: fit-content;
  border-radius: 9px;
  background:#fff;
}
.card-header {
  padding:8px!important;;
  background: #dc6b6b!important;
}
.card-header a {
 font-size: 19px;
 color: #ffffff;
}
.card-link {
  text-decoration:none;

  
}
.collapse {
  margin-top: 0em;
  font-size: 20px;
  color: #000000;
}
.show {
  background-color: rgba(255, 255, 255);
  }
  #accordionSidebar img{
    width : 100% ;
    height:auto;
    }


.card-body {
  margin-top: 0em;
  font-size: 20px;
  color: #000000;
}



/* COMP-DEScripción  */
.service .nav .nav-link.active h4 {
  color: rgba(0, 0, 0, 0.878) !important;
}

img.position-absolute.img-fluid.w-100.h-100 {
  border-radius: 10px;
}
.accordion .item .item-header h2 button.btn.btn-link {
  color: rgb(0, 0, 0);
  
  font-family: 'Montserrat', sans-serif;

  height: 32px;
  font-size: 8px;
  line-height: 2.5;

}
h1.titulos {
  color: #dc6b6b;
  text-align: left;
  font-size: 35px;
}
h5.parrafo{
  color: #000000;
  /* font-size: 16px; */
  text-align: left;
line-height: inherit
}
@media only screen and (min-width: 200px) and (max-width: 991px){
  h1.titulos {
    color: #dc6b6b;
    font-size: 20px;
    text-align: left;
  }
  h5.parrafo{
    color: #000000;
    font-size: 16px;
    text-align: left;
  }
}

div#container-competencias{
  background: white;
  padding: 10px;
  margin-block: 15px;
  border-radius: 10px;
 
}
.row.g-4.wow.fadeInUp {
  padding: o;
  padding: 0;
  margin: 0;
}
button.nav-link.w-100.d-flex.align-items-center.text-start.p-4.mb-4.active {
  background-color: #dc6b6b;}

  button.nav-link.w-100.d-flex.align-items-center.text-start.p-4.mb-4{
    background:#ede4e4e0;
    transition: .5s;
  }
  
  button.nav-link.w-100.d-flex.align-items-center.text-start.p-4.mb-4.active {
    background: #dc6b6b}
  
    button.nav-link.w-100.d-flex.align-items-center.text-start.p-4.mb-4.active:hover {
        background: #dc6b6b;
       border: #dc6b6b 1px solid !important; 
    }
        
    
    button.nav-link.w-100.d-flex.align-items-center.text-start.p-4.mb-4.active h4 {
    color: #FFFFFF !important;
  }
  
