*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

     
}
div#mb-5 {
  margin-bottom: 0rem !important;
}
.page-header {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  
}

.page-header-inner {
    background: rgba(0, 0, 0, 0.404);
}
.justify-content-center {
    justify-content: left;
}
ol.breadcrumb.justify-content-left.text-uppercase {
    background-color: transparent;
}

.breadcrumb-item + .breadcrumb-item::before {
    color:#000;
    background-color: transparent;
  
}
.breadcrumb-item::before {
    color: #000;
}

.breadcrumb-item a {
    color: #dc6b6b;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.breadcrumb-item a:hover {
    color: #dc6b6b;
    
}
.mb-5, .my-5 {
    margin-bottom: 0rem!important;
}
 /* end of heading */
 
 @media screen and (min-width: 768px) and (max-width: 1024px) {
    h1.display-3.text-white.mb-3.animated.slideInDown{
      font-size: 35px;
    }
    li.breadcrumb-item {
      font-size: 8px;
  }
  
  }
  @media screen and (min-width: 0px) and (max-width: 767px) {
    h1.display-3.text-white.mb-3.animated.slideInDown{
      font-size: 35px;
    }
    li.breadcrumb-item {
      font-size: 8px;
  }
  }
@media(max-width:900px){
    html{
       font-size: 60%;
    }
 
   
 
    .title{
       font-size: 3rem;
    }
    .tabs > ul li a {
       font-size: 1rem !important ;
       padding: 10px;
    }
  
 }
.container-fluid.page-header.mb-5.p-0 {
    margin-bottom: 0rem !important;
}
.container-xxl.service.py-5 {
    padding: 15px;
}
body::-webkit-scrollbar {
    width: 15px;
 ;
}

body::-webkit-scrollbar:hover {
    background-color: #ede4e4e0;
}

ol.breadcrumb.justify-content-center.text-uppercase {
    background-color: transparent;
}

/* article {
    background: #f4f4f4;
} */
/*** que hacemos***/
div#container-que-hacemos {
    background: white;
    padding: 10px;
    margin-block: 15px;
    border-radius: 10px;
   
}
.row.g-4.wow.fadeInUp {
    padding: o;
    padding: 0;
    margin: 0;
}
.service .nav .nav-link {
    background:#ede4e4e0;
    transition: .5s;
}

.service .nav .nav-link.active {
    background: #dc6b6b}

.service .nav .nav-link.active h4 {
    color: #FFFFFF !important;
}

img.position-absolute.img-fluid.w-100.h-100 {
    border-radius: 10px;
}
h3.mb-3 {
    text-align: center;
    color: #dc6b6b;
}
p.mb-4 {
    text-align: left;
}
#icon {
    color: #dc6b6b;
}


.page-header {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: #dc6b6b;
}
h1.titulo {
    font-size: 35px;
    text-align: left;
    color: #dc6b6b;
    font-family: 'Montserrat', sans-serif;

}
h2.titulo {
    font-size: 25px;
    text-align: left;
    color: #dc6b6b;
    font-family: 'Montserrat', sans-serif;

}
h6.descripcion {
    color: #000000;
    text-align: left;
font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.contacto-icono {
    display: flex;
    color: black;
}
p.info-contacto {
    display: flex;
    color: black;
    margin: unset;
    padding: 10px;
    font-size: 16px;
    text-align: left;
}
a.info-contacto {
    color: black;
    font-size: 15px;
}