.footer {
  display: flex;
  background-color: #dc6b6b;
  color: #ffffff;
  width: 100%;
  text-align: left;
  /* font-family: sans-serif; */
  font-weight: bold;
  font-size: 16px;
  padding: 20px;
  margin-top: 0px;
  margin-bottom: 0rem !important;
  font-family: 'Montserrat', sans-serif;
}

.footer-left.col-md-6 {
  margin-left: 15px;
  margin-block: auto;
}
.footer .footer-left,
.footer .footer-center {
  display: inline-block;
  vertical-align: top;
}
div#footer-col{
  display: flex;
  background:  transparent;
}

/* footer left*/



.footer .about {
  line-height: 20px;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
/* 
.footer .about span {
  display: block;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
} */
span.footer-span{
  display: block;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  /* margin-bottom: 20px; */
  text-align: justify;
}
.footer .icons {
  margin-top: 25px;
}

.footer .icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:transparent;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}


/* footer center*/





.footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .footer-center p a {
  color: #ffffff;
  text-decoration: none;
}


/* footer right*/
p.menu {
  color: rgb(255, 255, 255);
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: justify;
}

.footer h2 {
  color: #000000;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}
.footer .logo-footer{
  width:190px ;

}
.footer .logo-footer-1{
  width:90px ;

}
.footer a span {
  color: #dc6b6b;
}

.footer .menu-footer {
  color: #000000;
  margin: 20px 0 12px;
  padding: 0;
}

.footer .menu-footer a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}
a#footer-menu {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}
a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: transparent;
}
a:hover{
  color: #ffffff;
}
a#footer-menu :hover{
  color: #dc6b6b;
}

.footer .menu-footer a:hover {
  color: #dc6b6b;
}
.footer-hr.col-md-12 {
  text-align: center;
  background: #ffffff;
  color: #000000;
  margin: 0px;
  padding-block: 0;
}
p.name{
  text-align: center;
  color: #000000;
margin-top: -25px;
font-size: 12px;
font-family: 'Montserrat', sans-serif;
}
.footer .name {
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
@media (max-width:767px) {
  .footer-center.col-md-6 {
    text-align: justify;
    display: block;
}
}
@media (max-width: 767px) {
  .footer {
    font-size: 14px;
  }
  

  span.footer-span {
    text-align: center;
}
    div#footer-col,
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-hr.col-md-12{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
    background: transparent;
  }
 
  .footer .footer-center i {
    margin-left: 0;
  }
  .footer .logo-footer-1 {
    width: 55px;
}
.footer .logo-footer {
  width: 150px;
}
.iconos {
  display: inline-block;
  object-fit: scale-down;
  font-size: small;
}
.footer .footer-center p {
  font-size: small;
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
}