*{
box-sizing: border-box;
margin: 0;
padding: 0;
list-style: none;
border: none;
outline: none;
text-decoration: none;
font-family: 'Montserrat', sans-serif;
}
div,
img,
figure {
    margin: 0px;
    padding: 0px;
    border: 0;
    font-size: 100%;
    font: inherit;
    position: relative;
}
body::-webkit-scrollbar {
    width: 15px;
 ;
}
body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.7);
}
body::-webkit-scrollbar:hover {
    background-color: #ede4e4e0;
}

h1,
h2,

h4,
h5,
h6 {
    color: #000000;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}
ul {
    margin: 0%;
    padding: 0%;
    list-style: none;
}
header {
    position: relative;
    width: 100%;

    z-index: 99;
}
.main_container {
    width: 100%;
    height: 100%;
    display: block;
    flex-wrap: wrap;
    justify-content:space-around;
    overflow: auto;
  
   
}

/*---------header close----------*/
/*-----------header-top------------*/


.header-main {
    padding: 21px 0;
    border-top: 1px solid #dc6b6b;
    background-color: #fff;
}


/*-----------header-top Close------------*/
/*-----------header-menu------------*/
nav#cssmenu ul {
    float: right;
    margin-top: 25px;
    padding: initial;
}
.logo {
    position: relative;
    z-index: 123;
    padding: 10px;
    float: left;
}
.logo img {
    width: 170px;
    margin: initial;
    height: auto;
}
hr {
    position: relative;
    z-index: 1;
    padding: 10px;
    font: 18px verdana;
    color: #f00f83;
    float: left;
    padding: 0;
    margin: 0px;
    height: 5%;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    border-style: inset;
    border-width: 1px;
}

.logo a {
    color: #6ddb07;
}
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #head-mobile {
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
    content: "";
    display: block;
    clear: both;
    visibility:visible;
    line-height: 0;
    height: 0;
}
#cssmenu #head-mobile {
    display: none;
}
#cssmenu > ul > li {
    float: left;
    margin: 3px;
}
#cssmenu > ul > li > a {
    padding: 9px 17px;
    font-size: 17px;
    letter-spacing: 0px;
    text-decoration: none;
    color: #000000;
}
#cssmenu > ul > li:hover > a,
#cssmenu ul li.active a {
    color: #ffffff;
}
#cssmenu > ul > li:hover,
#cssmenu ul li.active:hover,
#cssmenu ul li.active,
#cssmenu ul li.has-sub.active:hover {
    background: #dc6b6b !important;
    -webkit-transition: background 0.3s ease;
    -ms-transition: background 0.3s ease;
    transition: background 0.3s ease;
    border-radius: 10px;
}
#cssmenu > ul > li.has-sub > a {
    padding-right: 30px;
}
#cssmenu > ul > li.has-sub > a:after {
    position: absolute;
    top: 17px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #dc6b6b;
    content: "";
}
#cssmenu > ul > li.has-sub > a:before {
    position: absolute;
    top: 14px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #dc6b6b;
    content: "";
    -webkit-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

#cssmenu > ul > li.has-sub:hover > a:before {
    top: 23px;
    height: 0;
}
#cssmenu ul ul {
    position: absolute;
    left: -9999px;
    margin-top: 0;
}
#cssmenu ul ul li {
    height: 0;
    -webkit-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    background: #dc6b6b;
    transition: all 0.25s ease;
}
#cssmenu ul ul li:hover {
}
#cssmenu li:hover > ul {
    left: auto;
}
#cssmenu li:hover > ul > li {
    height: 35px;
}
#cssmenu ul ul ul {
    margin-left: 100%;
    top: 0;
}
#cssmenu ul ul li a {
    border-bottom: 1px solid #f28749;
    padding: 11px 15px;
    width: 190px;
    font-size: 12px;
    text-decoration: none;
    color: #ddd;
    font-weight: 400;
}
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a {
    border-bottom: 0;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
    color: #000000;
}
#cssmenu ul ul li.has-sub > a:after {
    position: absolute;
    top: 16px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #ddd;
    content: "";
}
#cssmenu ul ul li.has-sub > a:before {
    position: absolute;
    top: 13px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #ddd;
    content: "";
    -webkit-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
#cssmenu ul ul > li.has-sub:hover > a:before {
    top: 17px;
    height: 0;
}
#cssmenu ul ul li.has-sub:hover,
#cssmenu ul li.has-sub ul li.has-sub ul li:hover {
    background: #dc6b6b;
}
#cssmenu ul ul ul li.active a {
    border-left: 1px solid #da660ebe;
}
#cssmenu > ul > li.has-sub > ul > li.active > a,
#cssmenu > ul ul > li.has-sub > ul > li.active > a {
    border-top: 1px solid #dc6b6b;
}
#scrollUp {
    background:#dc6b6b;
    height: 50px;
    width: 50px;
    right: 31px;
    bottom: 18px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    line-height: 48px;
    border: 2px solid transparent
}



#scrollUp:hover {
    color: #fff
}

@media screen and (max-width: 1199px) {
    .logo {
        position: absolute;
        top: -10px;
        left: 15px;
        width: 90%;
        height: 46px;
        text-align: center;
        padding: 10px 0 0 0;
        float: none;
        
    }
    .logo img {
        width: 100px;
        margin: initial;
        height: auto;
    }
    .logo2 {
        position: absolute;
        top: 0;
        top: -10px;
        left: 15px;
        width: 90%;
        height: 46px;
        text-align: center;
        padding: 10px 0 0 0;
        float: none;}
        
    .logo2 {
        display: none;
    }
    hr {
        position: relative;
        z-index: 123;
        padding: 10px;
        color: #000000;
        float: left;
        padding: 0;
        margin: 15px;
        height: 5%;
    }

    hr {
        display: block;
        unicode-bidi: isolate;
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
        margin-inline-start: auto;
        margin-inline-end: auto;
        border-style: inset;
        border-width: 1px;
    }
    nav {
        width: 100%;
    }
    #cssmenu {
        width: 100%;
    }
    #cssmenu ul {
        width: 100%;
        display: none;
    }
    #cssmenu ul li {
        width: 100%;
        border-top: 1px solid #dc6b6b;
        float: left;
    }
    #cssmenu ul li:hover {
        background: transparent !important;
    }
    #cssmenu ul ul li,
    #cssmenu li:hover > ul > li {
        height: auto;
    }
    #cssmenu ul li a,
    #cssmenu ul ul li a {
        width: 100%;
        border-bottom: 0;
    }
    #cssmenu ul ul li a {
        padding-left: 25px;
    }
    #cssmenu ul ul li {
        background: #ca024e !important;
    }
    #cssmenu ul ul li:hover {
        background: #363636 !important;
    }
    #cssmenu ul ul ul li a {
        padding-left: 35px;
    }
    #cssmenu ul ul li a {
        color: #ddd;
        background: none;
    }
    #cssmenu ul ul li:hover > a,
    #cssmenu ul ul li.active > a {
        color: #fff;
    }
    #cssmenu ul ul,
    #cssmenu ul ul ul {
        position: relative;
        left: 0;
        width: 100%;
        margin: 0px;
        text-align: left;
    }
    #cssmenu > ul > li.has-sub > a:after,
    #cssmenu > ul > li.has-sub > a:before,
    #cssmenu ul ul > li.has-sub > a:after,
    #cssmenu ul ul > li.has-sub > a:before {
        display: none;
    }
    #cssmenu #head-mobile {
        display: block;
        padding: 23px;
        color: #ddd;
        font-size: 12px;
        font-weight: 700;
    }
    .button {
        width: 55px;
        height: 46px;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        z-index: 12399994;
    }
    .button:after {
        position: absolute;
        top: 22px;
        right: 20px;
        display: block;
        height: 8px;
        width: 20px;
        border-top: 2px solid #dc6b6b;
        border-bottom: 2px solid #dc6b6b;
        content: "";
    }
    .button:before {
        -webkit-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
        position: absolute;
        top: 16px;
        right: 20px;
        display: block;
        height: 2px;
        width: 20px;
        background: #dc6b6b;
        content: "";
    }
    .button.menu-opened:after {
        -webkit-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
        top: 23px;
        border: 0;
        height: 2px;
        width: 19px;
        background: #dc6b6b;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .button.menu-opened:before {
        top: 23px;
        background: #dc6b6b;
        width: 19px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    #cssmenu .submenu-button {
        position: absolute;
        z-index: 99;
        right: 0;
        top: 0;
        display: block;
        border-left: 1px solid #c9005e;
        height: 39px;
        width: 46px;
        cursor: pointer;
    }
    #cssmenu .submenu-button.submenu-opened {
        background: #d0034b;
    }
    #cssmenu ul ul .submenu-button {
        height: 34px;
        width: 34px;
    }
    #cssmenu .submenu-button:after {
        position: absolute;
        top: 22px;
        right: 19px;
        width: 8px;
        height: 2px;
        display: block;
        background: #ddd;
        content: "";
    }
    #cssmenu ul ul .submenu-button:after {
        top: 15px;
        right: 13px;
    }
    #cssmenu .submenu-button.submenu-opened:after {
        background: #fff;
    }
    #cssmenu .submenu-button:before {
        position: absolute;
        top: 19px;
        right: 22px;
        display: block;
        width: 2px;
        height: 8px;
        background: #ddd;
        content: "";
    }
    #cssmenu ul ul .submenu-button:before {
        top: 12px;
        right: 16px;
    }
    #cssmenu .submenu-button.submenu-opened:before {
        display: none;
    }
    #cssmenu ul ul ul li.active a {
        border-left: none;
    }
    #cssmenu > ul > li.has-sub > ul > li.active > a,
    #cssmenu > ul ul > li.has-sub > ul > li.active > a {
        border-top: none;
    }
}

#scrollUp {
	background:#dc6b6b;
	height: 50px;
	width: 50px;
	right: 31px;
	bottom: 18px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	border-radius: 50%;
	line-height: 48px;
	border: 2px solid transparent
}

@media (max-width: 575px) {
	#scrollUp {
		right: 16px
	}
}

#scrollUp:hover {
	color: #fff
}

.preloader {
	background-color: #f7f7f7;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999999;
	-webkit-transition: .6s;
	-o-transition: .6s;
	transition: .6s;
	margin: 0 auto
}

.preloader .preloader-circle {
	width: 100px;
	height: 100px;
	position: relative;
	border-style: solid;
	border-width: 1px;
	border-top-color: #dc6b6b;
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	z-index: 10;
	border-radius: 50%;
	-webkit-box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
	box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
	background-color: #ffffff;
	-webkit-animation: zoom 2000ms infinite ease;
	animation: zoom 2000ms infinite ease;
	-webkit-transition: .6s;
	-o-transition: .6s;
	transition: .6s
}

.preloader .preloader-circle2 {
	border-top-color: #dc6b6b
}

.preloader .preloader-img {
	position: absolute;
	top: 50%;
	z-index: 200;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	display: inline-block;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	padding-top: 6px;
	-webkit-transition: .6s;
	-o-transition: .6s;
	transition: .6s
}

.preloader .preloader-img img {
	max-width: 55px
}

.preloader .pere-text strong {
	font-weight: 800;
	color: #dca73a;
	text-transform: uppercase
}

@-webkit-keyframes zoom {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .6s;
		-o-transition: .6s;
		transition: .6s
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		-webkit-transition: .6s;
		-o-transition: .6s;
		transition: .6s
	}
}

@keyframes zoom {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .6s;
		-o-transition: .6s;
		transition: .6s
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		-webkit-transition: .6s;
		-o-transition: .6s;
		transition: .6s
	}
}