/*** Header ***/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    outline: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;

}
.progress-bar__container {
    width: 100%;
    height: 1rem;
   background: #dc6b6b;
    position: relative;
    overflow: hidden;
   
  }
  
  .progress-bar {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background: #dc6b6b;
    background-color: #dc6b6b;
    top:0;
    bottom: 0;
    left: -100%;
   
    display: flex;
    justify-content: center;
    align-items:center;
    color: white;
    font-family: sans-serif;
  }
  
  .progress-bar__text {
    display: none;
  }
  .myButton {
    box-shadow: 0px 1px 0px 0px #dc6b6b;
    background:linear-gradient(to bottom, #dc6b6b 5%, #dc6b6b 100%);
    background-color:#dc6b6b;
    border-radius:6px;
    border:1px solid #dc6b6b;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
font-family: 'Montserrat', sans-serif;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px -1px 0px #dc6b6b;
  }
  .myButton:hover {
    background:linear-gradient(to bottom, #dc6b6b 5%, #dc6b6b 100%);
    background-color:#dc6b6b;
  }
  .myButton:active {
    position:relative;
    top:1px;
  }
  
          
  
.carousel-caption {
    top: 0;
    /* left: 0; */
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 3.5rem;
    /* background-color: #000000e0; */
    /* border: 15px solid #ede4e4e0; */
}
/* progress bar */
.carousel-progress-bar-timer {
    display: block;
    height: 5px;
    width: 0%;
    margin: 0;
    border: none;
    z-index: 11;
    position: fixed;
    top: 0px;
  }
  
  .carousel-progress-bar-timer.animate {
    /* We make the transition time shorter to avoid the slide transitioning
      before the timer bar is "full" - change the 4.25s here to fit your
      carousel's transition time */
    -webkit-transition: width 8s linear;
    -moz-transition: width 8s linear;
    -ms-transition: width 8s linear;
    -o-transition: width 8s linear;
    transition: width 8s linear;
  }
  h1.display-1.text-white.animated.slideInRight.mb-3 {
    font-size: 50px;
    /* width: 900px; */
    font-family: 'Montserrat', sans-serif;
  }
  
  .text-start {
    text-align: left !important;
    width: auto;
}
@media (max-width: 767.98px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }
    
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (min-width: 767.98px) {
  h1.display-1.text-white.animated.slideInRight.mb-3 {
    font-size: 37px;
    width: 750px;
    font-family: 'Montserrat', sans-serif;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  h1.display-1.text-white.animated.slideInRight.mb-3 {
    font-size: 30px;
    width: 500px;
  }

}
@media screen and (min-width: 0px) and (max-width: 767px) {
  h1.display-1.text-white.animated.slideInRight.mb-3 {
    font-size: 16px;
    width: 140px;
  }
  .myButton {
    box-shadow: 0px 1px 0px 0px #dc6b6b;
    background:linear-gradient(to bottom, #dc6b6b 5%, #dc6b6b 100%);
    background-color:#dc6b6b;
    border-radius:6px;
    border:1px solid #dc6b6b;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
font-family: 'Montserrat', sans-serif;
    font-size:10px;
    font-weight:bold;
    padding:6px 12px;
    text-decoration:none;
    text-shadow:0px -1px 0px #dc6b6b;
  }
  .myButton:hover {
    background:linear-gradient(to bottom, #dc6b6b 5%, #dc6b6b 100%);
    background-color:#dc6b6b;
  }
  .myButton:active {
    position:relative;
    top:1px;
  }
}

img.w-100 {
  height: 540px;
  max-height: 610px;
}