* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
    border: none;
    outline: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
     
}




.text-left{
   background-color:#f2d96e;
    text-align: center;
    font-size: 54px;
    border-radius: 30px ;
}
.titulo-secciones{
        text-align: center;
    
        }
@media (max-width: 426px) {
    .text-left{
        
        text-transform: capitalize;
        padding: 8px 15px !important;
        height: 30px;

}
.titulo-secciones{
    font-size: 16px;
    height: 30px;
}
}

/* ----------- noticias popular */

/* end noticias */
/* testimonios */
/********** Template CSS **********/

.fw-medium {
    font-weight: 600 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

/*** Testimonial ***/
p.mb-0 {
    text-align: justify;
    color: black;
    font-size: 15px !important;
    min-height: 500px !important;
}
.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item.center .testimonial-text * {
    transition:.9s;
    height: auto;
    max-height: inherit;
}

/* .testimonial-carousel .owl-item.center .testimonial-text {
    background: rgba(220, 107, 107, 0.67) !important
    
} */

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: black !important; 
    font-family: 'Montserrat', sans-serif;
}
h5.mb-0{
    font-family: 'Montserrat', sans-serif;
}
p.testimonio{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
p.text-center-1 {
    color: black !important; 
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: #ede4e4e0;
    border-color: #ede4e4e0;
}

/* end testimonios */
