*{
font-family: 'Montserrat', sans-serif;
}
::after,
::before {
    
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }
    

h2,
h5 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h2 {
    font-size: calc(1.325rem+ 0.9vw);
}

@media (min-width: 1200px) {
    h2 {
        font-size: 2rem;
    }
}

a {
    color: #007bff;
    text-decoration: none;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-12 {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
                     
div#carreras {

    padding: 8px!important;
    background: #dc6b6b!important;
    border-radius: 10px;
    text-align: center;
}
#btn-blog {
    color: #ffff;
    background-color: #dc6b6b;
    border-color: #dc6b6b;
    border-radius: 10px;
   
font-family: 'Montserrat', sans-serif;

}
.col-12 {
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

h5 {
    font-size: 1.25rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

ul {
    padding-left: 2rem;
}

ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    color: #0d6efd;
    text-decoration: underline;
}

a:hover {
    color: #000000;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
}

figure {
    margin: 0 0 1rem;
}

img {
    vertical-align: middle;
}

input,
textarea {
    margin: 0;
    font-size: inherit;
    line-height: inherit;
}

[type="submit"] {
    appearance: none;
    -webkit-appearance: button;
}

[type="submit"]:not(:disabled) {
    cursor: pointer;
}

textarea {
    resize: vertical;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.container {
    padding: 15px;
    background-color: white;
    border-radius: 10px;
}
.container {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}
.mt-4.flex.flex-col.gap-4 {
    text-align: justify;
}
h6.font-cuerpo.font-normal.text-negro.text-lg
{
font-family: 'Montserrat', sans-serif;
    color: #000000;
}
p.font-cuerpo.font-normal.text-negro.text-lg {
    color: black;
}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -0.5);
    margin-left: calc(var(--bs-gutter-x) * -0.5);
}

.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
}

@media (min-width: 992px) {
    .col-lg-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .col-lg-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .col-lg-12 {
        flex: 0 0 auto;
        width: 100%;
    }
    .gx-lg-5 {
        --bs-gutter-x: 3rem;
    }
}

@media (min-width: 1200px) {
    .col-xl-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .col-xl-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .form-control {
        transition: none;
    }
}

.col-md-12 h1 {
    background-color: #ffffff!important;
    border-radius: 10px;
    font-size:medium ;
    justify-content: center;
    text-align: center;
    color: #dc6b6b;
}
h2.comon-heading.mt-4 {
    font-weight: 800;
    color: #dc6b6b;
font-family: 'Montserrat', sans-serif;
}
/* .blog-details-page.comon-services-pge.py-5 {
    background-color: #f4f4f4;
} */

.recent-post-div.mt-5 {
    -ms-flex: 0 0 33.333333%;
    flex: 52 0 58.333333%;
    max-height: 499.3px;
    max-width: 100%;
    padding: 15px;
    background-color: #d2d7d5;
    border-radius: 10px;
}

.recent-post-div.mt-5 {
    -ms-flex: 0 0 33.333333%;
    flex: 52 0 58.333333%;
    max-height: 499.3px;
    max-width: 100%;
    padding: 15px;
    background-color:#ede4e4e0;
        border-radius: 10px;
}
.btn:disabled {
    pointer-events: none;
    opacity: 0.65;
}

.d-inline {
    display: inline !important;
}

.d-flex {
    display: flex !important;
}

.w-100 {
    width: 100% !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.align-items-center {
    align-items: center !important;
}

.m-0 {
    margin: 0 !important;
}

.my-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-2 {
    margin-top: 0.5rem !important;
}

.mt-4 {
    margin-top: 1.5rem !important;
}

.mt-5 {
    margin-top: 3rem !important;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.ms-3 {
    margin-left: 1rem !important;
}

.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

@media (min-width: 992px) {
    .d-lg-flex {
        display: flex !important;
    }
}

.fa-user:before {
    content: "\f007";
}

.fa-comment:before {
    content: "\f075";
}

.fa-caret-right:before {
    content: "\f0da";
}

.fa-share-alt:before {
    content: "\f1e0";
}

.far,
.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.fa-calendar-alt:before {
    content: "\f073";
}

.fa-caret-right:before {
    content: "\f0da";
}

.fa-comment:before {
    content: "\f075";
}

.fa-share-alt:before {
    content: "\f1e0";
}

.fa-user:before {
    content: "\f007";
}

.far {
    font-weight: 400;
}



.fas {
    font-weight: 900;
}

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a,
div,
h2,
h5,
img,
li,
p,
span,
ul {
    border: 0;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: none !important;
    padding: 0;
    vertical-align: baseline;
}

h2,
h5 {
    margin: 10px 0;
}

h2 {
    font-size: 30px;
    font-weight: 400;
}

a {
    color: inherit;
    outline: none !important;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

ul li {
    list-style: none;
}

ul {
    padding-left: 0;
}

li,
ul {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;
    border: none;
    outline: none;
}

.btn {
    border: none !important;
}



.btn:focus,
.form-control:focus {
    box-shadow: none;
    border: none;
    outline: 0;
}

.comon-heading {
    font-weight: 600;
    color: #000000;
    font-size: 35px;
}

.form-control:focus {
    box-shadow: none !important;
}

.blog-post ul li {
    margin: 0 10px;
}

.category-div {
    background: #f1f1f1;
    padding: 30px;
    display: inline-block;
    width: 100%;
}

.category-div ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    transition: all 0.5s;
    text-transform: capitalize;
}

.category-div ul li {
    border-bottom: solid 1px #fff;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.recent-post-div-insiide a {
    text-decoration: none;
    border-bottom: solid 1px #fff;
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.recent-post-div figure {
    width: 90px;
    height: 60px;
    overflow: hidden;
    margin: 0;
    transform: scale(1);
    border-radius: 8px;
}

.blog-post figure {
    max-width: 100%;
    height: auto;
    border-radius: 10px;

}


.blog-post figure img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;

}
h1.titulos {
    color: #dc6b6b;
    text-align: left;
  }
  h5.parrafo{
    color: #000000;
    /* font-size: 16px; */
    text-align: justify;
  line-height: inherit
  }
  @media only screen and (min-width: 0px) and (max-width: 991px){
    h1.titulos {
      color: #dc6b6b;
      font-size: 25px;
      text-align: left;
    }
    h5.parrafo{
      color: #000000;
      font-size: 16px;
      text-align: justify;
    }
  }

    @media only screen and (min-width: 0px) and (max-width: 991px) {
        .blog-post figure img {
            max-width: 100%;
            height: auto;
        
        }
        .blog-post figure {
            max-width: 100%;
            height: auto;
            
        
        }
    }
    #myImg:hover {opacity: 0.7;}

    /*  */

.comon-com-div figure {
    width: 63px;
    height: 63px;
    overflow: hidden;
    border-radius: 50%;
}

.comon-com-div figure img {
    object-fit:fill;
    width: 100%;
    height: 100%;
}

.comment-text {
    width: 89%;
}



.leave-sec-part {
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    box-shadow: 5px 7px 15px 2px rgb(82 90 101 / 12%);
    margin: 30px 0;
    padding-bottom: 20px;
}

.leave-sec-part .form-control {
    border: none;
    background: #f1f1f1;
    height: 45px;
}

.leave-sec-part .subimt-comment {
    background: #ee1d36;
    color: #fff;
    font-weight: 600;
}

.leave-sec-part textarea {
    height: 100px !important;
    resize: none;
}

.leave-sec-part .form-group {
    margin-top: 20px;
}

.recent-post-div h5 {
    width: 70%;
    color: #000000;
    font-size: 17px;
    line-height: 25px;
    font-weight: 600;
    transition: all 0.5s;
    text-transform: capitalize;
}

@media (max-width: 900px) {
    .comon-heading {
        font-weight: 600;
        color: #000000;
        font-size: 29px;
    }
}

@media (max-width: 768px) {
    .share-div ul li {
        font-size: 12px;
        margin-bottom: 10px;
    }
}
/* seccion otras noticias/ */
/* margenes */
/* .gray-bg {
    background: #f4f4f4;
}
.gray-bg {
    background: #f4f4f4;
    padding: 15px;

} */
.pb-60 {
    padding-bottom: 60px;
}
.pt-60 {
    padding-top: 60px;
}







