/******************************************
IMPORT
******************************************/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

     
}
div#mb-5 {
  margin-bottom: 0rem !important;
}
.page-header {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  
}

.page-header-inner {
    background: rgba(0, 0, 0, 0.404);
}
.justify-content-center {
    justify-content: left;
}
ol.breadcrumb.justify-content-left.text-uppercase {
    background-color: transparent;
}

.breadcrumb-item + .breadcrumb-item::before {
    color:#000;
    background-color: transparent;
  
}
.breadcrumb-item::before {
    color: #000;
}

.breadcrumb-item a {
    color: #dc6b6b;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.breadcrumb-item a:hover {
    color: #dc6b6b;
    
}
.mb-5, .my-5 {
    margin-bottom: 0rem!important;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    h1.display-3.text-white.mb-3.animated.slideInDown{
      font-size: 35px;
    }
    li.breadcrumb-item {
      font-size: 8px;
  }
  
  }
  @media screen and (min-width: 0px) and (max-width: 767px) {
    h1.display-3.text-white.mb-3.animated.slideInDown{
      font-size: 35px;
    }
    li.breadcrumb-item {
      font-size: 8px;
  }
  }
@media(max-width:900px){
    html{
       font-size: 60%;
    }
 
   
 
    .title{
       font-size: 3rem;
    }
    .tabs > ul li a {
       font-size: 1rem !important ;
       padding: 10px;
    }
  
 }
/******************************************
IMPORT
******************************************/


body {
    background-color: #f6f6f6;
    line-height: 1.6;
    font-size: 16px;
    color: #a2a2a2;
}

/* body,
p,
li,
a {
    font-family: 'Roboto', sans-serif;
} */


.cop-logo img,
a {
    color: #000;
    text-decoration: none !important;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.check li:before {
    content: "\f00c";
    font-family: "FontAwesome";
    font-size: 16px;
    left: 0;
    padding-right: 10px;
    position: relative;
    top: 2px;
}

.check li {
    list-style: none;
    margin-bottom: 8px;
}

.check li:last-child {
    margin-bottom: 0;
}

.check {
    margin-left: 0;
    padding-left: 0
}



.authorbox,
blockquote {
    border: 0;
    margin: 30px 0;
    position: relative;
    padding: 4rem 3rem;
    font-family: 'Droid Serif', sans-serif;
    font-style: italic;
    border: 1px solid #eaeaea;
    background-color: #f6f6f6;
}

blockquote:after {
    content: "\f10e";
    padding: 5px;
    font-family: FontAwesome;
    position: absolute;
    bottom: 0px;
    color: #f6f6f6;
    font-size: 24px;
    right: 10px;
}

blockquote:before {
    content: "\f10d";
    padding: 5px;
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    color: #f6f6f6;
    font-size: 24px;
    left: 10px;
}

/******************************************
PAGES
******************************************/

.page-title h3 {
    margin-bottom: 10px !important;
}

.breadcrumb {
    background-color: transparent;
    border-radius: 0;
    color: #aaa;
    font-size: 13px;
    list-style: outside none none;
    margin-bottom: 0;
    padding: 0;
}

.breadcrumb>li a,
.breadcrumb>li+li::before,
.breadcrumb>.active {
    color: #aaa;
}

.section.cb .breadcrumb>li a,
.section.cb .breadcrumb>li+li::before,
.section.cb .breadcrumb>.active {
    color: #fff;
}

.section.cb {
    padding: 40px 0 !important;
}

.section.cb .breadcrumb {
    margin-top: 10px;
}

.section.cb h3 {
    font-size: 24px;
    padding: 0 !important;
    margin: 0 !important;
}

.breadcrumb>li+li::before {
    content: "\f107";
    vertical-align: middle;
    padding-left: 5px;
    font-family: "Flaticon";
    font-size: 11px;
    padding: 0 6px 0 3px;
}

.tags-widget a {
    color: #ffffff !important;
    padding: 4px 10px;
    border-radius: 2px;
    font-size: 14px;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span,
.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-radius: 0;
}

.pagination {
    margin: 0;
}

.pager {
    margin: 0;
}

.pagination>li>a,
.pagination>li>span {
    background-color: #fff;
    border: 1px solid #eeeeee !important;
    color: #999;
    float: left;
    line-height: 1.42857;
    margin-left: 0;
    margin-right: 5px;
    padding: 8px 15px;
    position: relative;
    text-decoration: none;
}

.pager li>a,
.pager li>span {
    background-color: #2c2f33;
    border: 1px solid #2c2f33;
    color: #fff;
    float: none;
    line-height: 1.42857;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 11px;
    margin-right: 10px;
    margin-left: 0;
    border-radius: 0;
    padding: 8px 15px;
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.pager i {
    font-size: 13px;
    vertical-align: baseline;
}


/************************************
WIDGETS
************************************/
.sidebar.col-md-4 {
    margin-block: 10px;
}
.widget {
    margin-bottom: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid #eaeaea;
    background: #ede4e4e0;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.widget-title {
    font-size:25px;
    font-weight: 600;
    color: #dc6b6b;
    text-align: left;
}

.tags-widget li {
    margin-bottom: 10px;
}

.widget .form-control {
    margin-bottom: 10px;
    border-radius: 0;
    border-color: #eaeaea;
    height: 45px;
    box-shadow: none;
    color: #b9b9b9;
}

.newsletter-widget .form-control {
    min-width: 260px;
    margin-bottom: 0;
    height: 48px;
}

.alignleft {
    float: left;
    margin-right: 20px;
}

.mt-0 {
    font-size: 17px;
    padding: 0;
    margin-bottom: 5px;
    margin-top: 0;
    color: black;
}
p.font-cuerpo.font-normal.text-negro.text-lg{
font-size: 20px;
padding: 0;
margin-bottom: 5px;
margin-top: 0;
color: black;
}

.media {
    display: block;
    margin-bottom: 30px;
}

.media:last-child {
    margin-bottom: 0;
}


/************************************
BLOG
************************************/

.site-publisher img {
    float: left;
    margin: 0 20px 0 0;
    max-width: 60px;
}

.authorbox img {
    margin: 10px 30px 0 0;
    min-width: 130px;
}

.site-small-desc h4,
.site-publisher h4 {
    font-weight: 700;
    margin: 5px 0 15px;
    padding: 0;
}

.authorbox {
    background-color: #ffffff;
}

.authorbox p {
    margin-top: 10px;
    color: #b9b9b9;
}

.authorbox small {
    text-transform: capitalize;
    font-style: normal;
    padding-right: 5px;
}

.about-message small {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.small-about-message .small-title {
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 0;
    margin-bottom: 20px;
}

.user_name {
    font-size: 18px;
    font-weight: bold;
    padding: 0 0 5px;
}

.media-right,
.media>.pull-right {
    color: #999 !important;
    font-size: 11px;
    letter-spacing: 2px;
    padding-left: 10px;
    text-transform: uppercase;
}

.boxed-comment {
    border: 1px solid #eee;
    padding: 3rem;
    margin-top: 6rem;
    display: block;
}

.comments-list .media {
    padding: 15px;
    margin-bottom: 15px;
}

.media-body .btn-primary {
    padding: 5px 10px !important;
    font-size: 11px !important;
}

.last-child {
    margin-bottom: 0 !important;
}

.comments-list img {
    max-width: 80px;
    margin-right: 30px;
}

.authorbox-social li a {
    color: #999;
}

.authorbox-social ul {
    padding: 10px 0;
    margin-bottom: 0;
}

.authorbox {
    margin-bottom: 30px;
}

.authorbox img {
    min-width: 130px;
    margin: 10px 30px 0 0 !important;
}

.blog-list {
    /* padding-bottom: 30px; */
    margin-bottom: 30px;
}

.blog-meta .list-inline li span {
    font-style: italic;
    color: #999;
    text-transform: none;
    letter-spacing: 0;
    font-size: 14px;
    padding-right: 5px;
}
/* article {
    background: #f4f4f4;
} */
ul.list-inline {
    padding: 10px;
    margin: -14px 0;
    font-size: 3px;
    font-weight: 700;
}
.blog-descripcion {
    background: #ede4e4e0;
    padding: 10px;
    margin-bottom: 20px;
    justify-content: start;
    border-radius: 10px;
    text-align: left;
}
.blog-desc-objetivo{
    background:#ede4e4e0;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
}
div#container-proyecto-detalle
 {
    padding: 15px;
    background-color: white;
    border-radius: 10px;
}
.blog-meta {
    margin-bottom: 20px;
    background: #ede4e4e0;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    color: black;
}
.blog-meta h3 {
    padding: 0;
    margin: 10px 0;
    font-size: 30px;
    font-weight: 700;
}

.blog-meta small,
.blog-meta .list-inline li,
.blog-meta .list-inline li a {
    font-size: 16px;
    font-weight: 600;
    text-transform:none;
    color: #000;
}

.blog-meta .list-inline li {
    color: #dc6b6b;
    letter-spacing: 0;
    font-size: 20px;
}

.blog-media img {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #0000;
    background-size: cover;
    max-width: 100%;
    height: auto;
    background-size: cover;
}

.blog-media {
    display: block;
    margin: 25px 0;
    background-size: cover;
    max-width: 100%;
    height: auto;

}

h3.lead {
    font-size:30px;
    font-weight: 300;
    color: #dc6b6b;
    font-weight: 600;
    text-align: left;
}

.blog-desc-big .btn {
    margin-top: 15px;
}

.image-wrap img {
    width: 100%;
}

.image-wrap:after {
    content: "";
    width: 60px;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #111;
    right: 0;
}

.blog-box {
    background-color: #ffffff;
    border-radius: 6px 6px 0 0;
    border: 1px solid #eaeaea;
}

.blog-box .magnifier {
    border-radius: 6px 6px 0 0;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
}

.blog-box img {
    width: 100%;
    border-radius: 6px 6px 0 0;
}

.post-meta {
    padding: 15px 30px 10px;
    margin-top: -5px;
    border-top: 1px solid #eaeaea;
    line-height: 1;
}

.post-meta a {
    font-size: 13px;
    color: #aaa;
}

.post-meta .list-inline>li {
    padding-left: 0;
    padding-right: 0;
    margin-right: 10px;
}

.post-meta li:last-child:after {
    content: ""
}

.blog-desc {
    padding: 3rem 2rem;
    display: block;
    position: relative;
}

.blog-desc h4 a,
.blog-desc h4 {
    font-size: 18px;
    font-weight: 700;
    padding: 0 0 15px;
    margin: 0;
    color: #000000;
}

.blog-desc p {
    padding: 0;
    margin: 0;
}

.stat-count h3,
.stat-count h4 {
    color: #ffffff;
}

.stat-count h4 {
    font-size: 44px;
    line-height: 1;
    padding: 0;
    margin: 0;
}

.stat-count h3 {
    padding: 30px 0 25px;
    margin: 0;
    line-height: 1;
    font-size: 20px;
}

.stat-count h3 i {
    padding-right: 10px;
    border-right: 1px solid #fff;
    margin-right: 10px;
}

.stat-count p {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Droid Serif', sans-serif;
    font-style: italic;
}

.blog-grid .col-md-6,
.blog-grid .col-md-4 {
    margin-bottom: 30px
}


/******************************************
BUTTONS
******************************************/

.btn {
    border-radius: 0;
    font-size: 14px;
    border: 1px solid #fff;
    font-weight: bold;
    color: #ffffff !important;
    padding: 13px 40px;
    text-transform: capitalize;
}

.btn-transparent {
    color: #ffffff;
    border: 1px solid #fff;
}

/******************************************
COLOR BLUE
******************************************/

.yamm .dropdown .dropdown-menu {
    border-top-color:  #ad3162;
}

.iconitem a.shopicon i {
    color: #ad3162 !important;
}

.shop-desc small,
.shop-meta a,
.authorbox small,
blockquote:before,
blockquote:after,
.blog-meta small a,
.small-box i,
.copyrights ul li:hover a,
.footer .readmore,
.breadcrumb>li a,
.yamm h4,
.yamm-content li:hover a,
.yamm .hassubmenu li:hover a,
.check li:before,
.stat-count h3,
.blog-desc h4:hover a,
.post-meta li:after,
.course-box small,
.course-details h4:hover a,
.course-footer i,
a:hover,
a:focus,
.box i,
.topbar .text-left i {
    color: #dc6b6b;
}

.shop-extra .nav-tabs>li:hover a,
.shop-extra .nav-tabs>li.active a,
.modal .form-control,
.form-control:focus,
.btn-transparent {
    border-color:#dc6b6b!important;
}

.cb,
.box .event-desc small,
.pagination a,
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover,
.tags-widget a,
.owl-theme-01 .owl-nav [class*="owl-"]:hover,
.yamm .dropdown-menu li:hover .menu-button,
.yamm .dropdown-menu li .menu-button,
mark,
.bgcolor1,
.image-wrap:before,
.image-wrap:after,
.btn-primary {
    border-color: #ad3162;
    background-color: #ad3162;
    box-shadow: inset 0 0 0 0 #ad3162;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.pagination a:hover,
.tags-widget a:hover,
.btn-primary:hover {
    color: #ffffff !important;
    box-shadow: inset 0 100px 0 0  #ad3162;
    border-color: #ad3162
}



/******************************************
RESPONSIVE
******************************************/

@media (max-width: 992px) {
    .p120 {
        padding-bottom: 8rem !important;
    }
    .boxed {
        margin-top: 4rem;
    }
    .blog-box,
    .testimonial,
    .stat-count {
        margin: 30px 0;
    }
    .m30 {
        margin-top: 30px;
    }
    .absolute-widget {
        background-image: none;
    }
    .sidebar {
        margin-top: 30px;
    }
    .container {
        min-width: 100% !important;
    }
    .footer .widget {
        margin: 30px 0;
    }
}

@media (max-width: 768px) {
    .shop-extra .nav-tabs>li>a,
    .shop-extra .nav-tabs>li {
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }
    .shop-extra {
        padding: 30px 10px;
    }
    .home-message p {
        font-size: 28px;
    }
    .topbar .text-left {
        text-align: center;
    }
    .authorbox img {
        float: none;
        margin: 0 0 30px !important;
        min-width: 100px;
    }
    .media-left,
    .media>.pull-left {
        display: block;
        float: none;
        margin: 0 0 30px;
        padding-right: 10px;
    }
}

@media (max-width: 468px) {
    .blog-meta h3 {
        font-size: 20px;
    }
}

@media (min-width: 992px) {
    .yamm-fw {
        position: relative;
    }
    .hassubmenu:hover>ul,
    .yamm-fw:hover>ul {
        visibility: visible;
        opacity: 1;
        top: 100%;
    }
    .hassubmenu ul,
    .navbar-nav .yamm-fw ul {
        -webkit-transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out, top 0.35s ease-in-out, bottom 0.35s ease-in-out, left 0.35s ease-in-out, right 0.35s ease-in-out;
        -moz-transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out, top 0.35s ease-in-out, bottom 0.35s ease-in-out, left 0.35s ease-in-out, right 0.35s ease-in-out;
        -o-transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out, top 0.35s ease-in-out, bottom 0.35s ease-in-out, left 0.35s ease-in-out, right 0.35s ease-in-out;
        transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out, top 0.35s ease-in-out, bottom 0.35s ease-in-out, left 0.35s ease-in-out, right 0.35s ease-in-out;
    }
    .yamm-fw .dropdown-menu {
        min-width: 240px;
        padding: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }
    .hassubmenu>ul,
    .yamm-fw>ul {
        position: absolute;
        top: 160%;
        visibility: hidden;
        display: block;
        opacity: 0;
    }
    .yamm-fw>ul li {
        position: relative;
    }
    .yamm-fw>ul li:hover>ul {
        visibility: visible;
        opacity: 1;
        left: 100%;
    }
}

@media (max-width: 1200px) {
    .nav>li>a {
        padding: 1em 0.7em;
    }
}