
.page-header {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
object-fit: scale-down;
}

.page-header-inner {
  background: rgba(0, 0, 0, 0.404);
  object-fit: cover;
}
ol.breadcrumb.justify-content-center.text-uppercase {
  background-color: transparent;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: var(--light);
  background-color: transparent;
}
.breadcrumb-item a {
  color: #dc6b6b;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
.container-fluid.page-header.mb-5.p-0{
margin-bottom: 0rem!important;
}
/* end heading  */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  h1.display-3.text-white.mb-3.animated.slideInDown{
    font-size: 35px;
  }
  li.breadcrumb-item {
    font-size: 8px;
}

}
@media screen and (min-width: 0px) and (max-width: 767px) {
  h1.display-3.text-white.mb-3.animated.slideInDown{
    font-size: 35px;
  }
  li.breadcrumb-item {
    font-size: 8px;
}
}
@media(max-width:1024px){
  html{
     font-size: 60%;
  }

 

  .title{
     font-size: 3rem;
  }
  .tabs > ul li a {
     font-size: 1rem !important ;
     padding: 10px;
  }

}
.container-proyectos{
  margin: 0;
  padding: 15px;

}
/* article {
  background: #f4f4f4;
} */
menu {
  padding: 10px;
  margin: 5px;
  background-color: white;
  border-radius: 10px;
}
div#filtros {
  background:#ede4e4e0;
  margin: 2px;
  border-radius: 10px;
  margin-block: 10px;
  max-height: 400px;
}
div#row-col {
  background: transparent;
  margin: 2px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 15px;
}
.col-md-8 {
 
  margin: -2px;
  border-radius: 10px;

}
.col-md-12
{
  padding: 25px;
}
.image.position-relative {
 border-radius : 10px 10px 0px 0px;
  margin: 0px;
}
.card-body.row.no-gutters.align-items-center {
  padding: 0rem;
}
ul.pagination {
  display: flex;
  justify-content: center;
  align-content: center;
  align-content: center;
}
/* ---cards proyectos */


 

 /* buscador */
 .form-control-borderless {
  border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
button.btn.btn-lg.btn-buscador {
  background-color:#dc6b6b;
  border-color: #dc6b6b;
  color: #FFF;
  margin: 15px;
}
.btn-buscador {
  color: #fff;
  background-color:#dc6b6b;
   border-color: #dc6b6b; 
}
button.btn.btn-filtros{
  color: #fff;
  background-color: #dc6b6b;
  border-color: #dc6b6b;
}
input#buscador {
  width: 100%;
  
}
.fa-search:before {
  content: "\f002";
  color: #dc6b6b;
  margin: 20px
}
/*----------------------------*\
	proyecto
\*----------------------------*/
.col-md-4 #filtros {
  border: none;
  border: 1px solid #000000;
  background-color: #d7ffd4;
  }
  




.proyecto {
  position: relative;
  margin: 10px 0px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  border-radius: 5px 5px 5px 5px;
}

.proyecto:hover {
  -webkit-box-shadow: 0px 0px 6px 0px #E4E7ED, 0px 0px 0px 2px #dc6b6b;
  box-shadow: 0px 0px 6px 0px #E4E7ED, 0px 0px 0px 2px #dc6b6b;;
}

.proyecto .proyecto-img {
  position: relative;
}

.proyecto .proyecto-img>img {
  width: 100%;
  height: 262.5px;
}

.proyecto .proyecto-img .proyecto-label {
  position: absolute;
  top: 15px;
  right: 15px;
}

.proyecto .proyecto-img .proyecto-label>span {
  border: 2px solid;
  padding: 2px 10px;
  font-size: 12px;
}



.proyecto .proyecto-body {
  position: relative;
  padding: 15px;
  background-color: #ede4e4e0;
  text-align: center;
  z-index: 20;
  border-radius: 0px 0px 10px 10px;
  height: 90px;
  max-height: 90px;
}


.proyecto a{
  color: #000;
}

.proyecto .proyecto-body .proyecto-name {

  font-size: 14px;
}

.proyecto .proyecto-body .proyecto-name>a {
  font-weight: 700;
}

.proyecto .proyecto-body .proyecto-name>a:hover, .proyecto .proyecto-body .proyecto-name>a:focus {
  color: #dc6b6b;
}

.proyecto .proyecto-body .proyecto-descripcion {
  color: #dc6b6b;
  font-size: 18px;
}
/* 
.proyecto .proyecto-body .proyecto-descripcion .proyecto-old-descripcion {
  font-size: 70%;
  font-weight: 400;
  color: #5081d5;
}

.proyecto .proyecto-body .proyecto-rating {
  position: relative;
  margin: 15px 0px 10px;
  height: 20px;
}

.proyecto .proyecto-body .proyecto-rating>i {
  position: relative;
  width: 14px;
  margin-right: -4px;
  background: #FFF;
  color: #E4E7ED;
  z-index: 10;
}

.proyecto .proyecto-body .proyecto-rating>i.fa-star {
  color: #ef233c;
}

.proyecto .proyecto-body .proyecto-rating:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 1px;
  background-color: #E4E7ED;
}

.proyecto .proyecto-body .proyecto-btns>button {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background:#54575c;
  border: none;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.proyecto .proyecto-body .proyecto-btns>button:hover {
  background-color: #E4E7ED;
  color: #D10024;
  border-radius: 50%;
}

.proyecto .proyecto-body .proyecto-btns>button .tooltipp {
  position: absolute;
  bottom: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -15px);
  -ms-transform: translate(-50%, -15px);
  transform: translate(-50%, -15px);
  width: 150px;
  padding: 10px;
  font-size: 12px;
  line-height: 10px;
  background: #1e1f29;
  color: #FFF;
  text-transform: uppercase;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.proyecto .proyecto-body .proyecto-btns>button:hover .tooltipp {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, -5px);
  -ms-transform: translate(-50%, -5px);
  transform: translate(-50%, -5px);
}

.proyecto .add-to-cart {
  position: absolute;
  left: 1px;
  right: 1px;
  bottom: 1px;
  padding: 15px;
  background: #1e1f29;
  text-align: center;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  z-index: 2;
}

.proyecto:hover .add-to-cart {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}

.proyecto .add-to-cart .add-to-cart-btn {
  position: relative;
  border: 2px solid transparent;
  height: 40px;
  padding: 0 5px;
  background-color: #ef233c;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 40px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.proyecto .add-to-cart .add-to-cart-btn>i {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  line-height: 38px;
  color: #D10024;
  opacity: 0;
  visibility: hidden;
}

.proyecto .add-to-cart .add-to-cart-btn:hover {
  background-color: #FFF;
  color: #D10024;
  border-color: #D10024;
  padding: 0px 5px 0px 50px;
}

.proyecto .add-to-cart .add-to-cart-btn:hover>i {
  opacity: 1;
  visibility: visible;
} */

/*----------------------------*\
	Widget proyecto
\*----------------------------*/

.proyecto-widget {
  position: relative;
}

.proyecto-widget+.proyecto-widget {
  margin: 5px 0px;
}

.proyecto-widget .proyecto-img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 60px;
}

.proyecto-widget .proyecto-img>img {
  width: 100%;
}

.proyecto-widget .proyecto-body {
  padding-left: 75px;
  min-height: 60px;
}

/* .proyecto-widget .proyecto-body .proyecto-category {
  text-transform: uppercase;
  font-size: 10px;
  color: #8D99AE;
}

.proyecto-widget .proyecto-body .proyecto-name {
  text-transform: uppercase;
  font-size: 12px;
}

.proyecto-widget .proyecto-body .proyecto-name>a {
  font-weight: 700;
}

.proyecto-widget .proyecto-body .proyecto-name>a:hover, .proyecto-widget .proyecto-body .proyecto-name>a:focus {
  color: #D10024;
}

.proyecto-widget .proyecto-body .proyecto-descripcion {
  font-size: 14px;
  color: #D10024;
}

.proyecto-widget .proyecto-body .proyecto-descripcion .proyecto-old-descripcion {
  font-size: 70%;
  font-weight: 400;
  color: #8D99AE;
}

.proyecto-widget .proyecto-body .proyecto-descripcion .qty {
  font-weight: 400;
  margin-right: 10px;
}

.proyecto-widget .delete {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  text-align: center;
  font-size: 10px;
  padding: 0;
  background: #1e1f29;
  border: none;
  color: #FFF;
} */

/*----------------------------*\
	proyectos slick
\*----------------------------*/

.proyectos-slick .slick-list {
  padding-bottom: 60px;
  margin-bottom: -60px;
  z-index: 2;
}

.proyectos-slick .proyecto.slick-slide {
  margin: 15px;
}

.proyectos-tabs>.tab-pane {
  display: block;
  height: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: hidden;
  padding-bottom: 60px;
  margin-bottom: -60px;
}

.proyectos-tabs>.tab-pane.active {
  opacity: 1;
  visibility: visible;
  height: auto;
}

.proyectos-slick-nav {
  position: absolute;
  right: 15px;
  z-index: 10;
}

.proyectos-slick-nav .slick-prev, .proyectos-slick-nav .slick-next {
  position: static;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  width: 20px;
  height: 20px;
  display: inline-block !important;
  margin: 0px 2px;
}

.proyectos-slick-nav .slick-prev:before, .proyectos-slick-nav .slick-next:before {
  font-size: 14px;
}



/*----------------------------*\
	Aside
\*----------------------------*/

.aside+.aside {
  margin-top: 30px;
}

.aside>.aside-title {
  text-transform: uppercase;
  font-size: 18px;
  margin: 15px 0px 30px;
}


.noUi-handle:before, .noUi-handle:after {
  display: none;
}

.descripcion-filter .input-number {
  display: inline-block;
  width: calc(50% - 7px);
}

/*----------------------------*\
	Store
\*----------------------------*/

.store-filter {
  margin-bottom: 15px;
  margin-top: 15px;
}



@media only screen and (max-width: 1201px) {}

@media only screen and (max-width: 991px) {
  #top-header .header-links.pull-left {
    float: none !important;
  }
  #top-header .header-links.pull-right {
    float: none !important;
    margin-top: 5px;
  }
  .header-logo {
    float: none;
    text-align: center;
  }
  .header-logo .logo {
    display: inline-block;
  }
  #proyecto-imgs {
    margin-bottom: 60px;
    margin-top: 15px;
  }
  #rating {
    text-align: center;
  }
  #reviews {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .section-title .section-nav {
    float: none;
    margin-top: 10px;
  }
  .section-tab-nav li {
    margin-top: 10px;
  }
}

@media screen and (min-width: 600px) and (max-width: 767px) 
 {
  div#row-col {
    background: #ede4e4e0;
    margin: 2px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    display: block;
    width: 100%;
}
  .proyecto {
    position: relative;
    margin: 10px 0px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    border-radius: 5px 5px 5px 5px;
    background-size: initial;

}

}

@media screen and (min-width: 768px) and (max-width: 999px) {
.col-md-4.col-xs-6 {
  display: flex;
  flex: 0 0 auto;
  width: 49.33%;
  margin: auto;
}
}
@media only screen and (max-width: 480px) {
  [class*='col-xs'] {
    width: 100%;
  }
  .store-grid {
    float: none;
    margin-top: 10px;
  }
  .store-pagination {
    float: none;
    margin-top: 10px;
  }
}


.portfolio {
  padding-bottom: 100px;
}
.portfolio .btn:focus, .portfolio .btn:hover, .portfolio .btn.focus.active {
  box-shadow: none !important;
  outline: 0 !important;
}
/* .portfolio .btn-group .btn {
  border-radius: 0px !important;
  padding-left: 0px;
  font-weight: 700;
}
.portfolio .btn-group .btn:hover {
  color: #f44336;
} */
.portfolio .btn-group:not(:first-child) > .btn, .portfolio .btn-group > .btn:not(:first-child) {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.portfolio .btn.active {
  color: #f44336;
}

.inner-box {
  position: relative;
}

.inner-box .image {
  position: relative;
  overflow: hidden;
}

.inner-box .image img {
  position: relative;
  width: 100%;
  display: block;
  transition: all 0.3s;
  height: 262.5px;
}

.inner-box .image .overlay-box {
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  top: 0px;
  z-index: 2;
  opacity: 0;
  display: block;
  transition: all 0.6s ease;
  overflow: hidden;
}

.inner-box .image .overlay-box:before {
  position: absolute;
  content: "";
  left: -450px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0;
  transition: all 0.4s;
  /* background-color: rgba(239, 234, 234, 0.755) */

}

.inner-box:hover .image img {
  transform: scale(1.1);
}

.inner-box:hover .image .overlay-box:before {
  opacity: 1;
  left: 0px;
}

.inner-box:hover .image .overlay-box {
  opacity: 1;
}

.inner-box:hover .image .overlay-box .overlay-content h3 {
  transform: translateX(0px);
}

.inner-box:hover .image .overlay-box .overlay-content p {
  transform: translateX(0px);
}

.inner-box .image .overlay-box .overlay-inner {
  position: absolute;
  left: 0px;
  bottom: 5px;
  z-index: 1;
  padding: 5px 5px;
}

.inner-box .image .overlay-box .overlay-inner .overlay-content i {
  font-size: 28px;
}

.inner-box .image h3 {
  color: #000000;
  font-size: 17px;
}

.overlay-content h3 {
  background: rgba(255, 255, 255, 0.715);
  padding: 0px 8px;
  margin-bottom: 0px;
  transform: translateX(-150px);
  transition: all 0.3s;
}
.overlay-content p {
  font-size: 14px;
  margin-bottom: 0px;
  padding: 0px 8px;
  margin-top: 2px;
  background: rgba(255, 255, 255, 0.9);
  color: #dc6b6b;
  transform: translateX(-150px);
  transition: all 0.5s;
}

.portfolio-image {
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  background: #ef5656;
  color: #fff;
  padding-top: 16px;
  position: absolute;
  top: 40%;
  font-size: 22px;
  margin-left: -28px;
  left: 50%;
}

@media (max-width: 767px) {
  .portfolio-image{
    display : none ;
    }
    }
