*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

     
}
div#mb-5 {
  margin-bottom: 0rem !important;
}
.page-header {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  
}

.page-header-inner {
    background: rgba(0, 0, 0, 0.404);
}
.justify-content-center {
    justify-content: left;
}
ol.breadcrumb.justify-content-left.text-uppercase {
    background-color: transparent;
}

.breadcrumb-item + .breadcrumb-item::before {
    color:#000;
    background-color: transparent;
  
}
.breadcrumb-item::before {
    color: #000;
}

.breadcrumb-item a {
    color: #dc6b6b;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.breadcrumb-item a:hover {
    color: #dc6b6b;
    
}
.mb-5, .my-5 {
    margin-bottom: 0rem!important;
}
div#py-5qs {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}
 /* end of heading */
 *:focus {
   outline: 1px dotted rgb(255, 0, 191);
 }
 
 .tabs > ul {
   position: relative;
   margin: 0;
   padding: 0;
   list-style: none;
   border-bottom: 1px solid #000000;
   font-size: 0;
 }
 .tabs > ul .indicator {
   display: block;
   position: absolute;
   bottom: 0;
   left: 0;
   height: 3px;
   width: calc((100% / 3) );
 
   transform: translateZ(0) translateX(0);
   transition: all 0.3s ease;
 }
 .tabs > ul li {
   display: inline-block;
   font-size: 14px;
   width: calc((100% / 3) );
 }
 .tabs > ul li a {
   display: block;
   position: relative;
   overflow: hidden;
   padding: 20px;
   text-decoration: none;
   text-align: center;
   font-weight: bold;
   color: black;
   transition: all 0.3s ease 0.4s;
   font-size: 2rem;
 }
 .tabs > ul li a:before {
   content: "";
   display: block;
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   background: #ede4e4;
   transform: translateZ(0) translateY(100%);
   transition: all 0.3s ease 0.3s;
   width: 100%;
   z-index: -1;
    }
    .section1.h2
   {
      color: #000000;
   }
 .tabs > ul li a[aria-selected] {
   color: rgb(0, 0, 0);
 }
 .tabs > ul li a[aria-selected]:before {
   transform: translateZ(0) translateY(0);
 }
 .tabs > section[aria-hidden=true] {
   display: none;
 }


@media(max-width:900px){
   html{
      font-size: 50%;
   }

  

   .title{
      font-size: 3rem;
   }
   .tabs > ul li a {
      font-size: 1rem !important ;
      padding: 10px;
   }
  }
 /* @media(min-width:300px){
  .modal-content.rounded-0 {
    position: relative;
    padding: 0px;
  }
  .modal-video .modal-body {
    position: relative;
   width: 200px;
}
iframe#video {
  width: auto;
  height: 325px;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
 } */
.container{
  justify-content: center;
}

/* colaboradores */
/* article {
  background: #f4f4f4;
} */
div#container-colaboradores{
  position:initial;
  background: white;
  border-radius: 10px;
  padding: 15px;
}
.article {
  background: #f4f4f4;
}
div#titulos h1 {
  color: #dc6b6b;
  text-align: left;
  font-size: 35px;
}
.cards {
  position: relative;
  margin: 15px 0px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  border-radius: 5px 5px 5px 5px;
 
}

.cards:hover {
  -webkit-box-shadow: 0px 0px 6px 0px #E4E7ED, 0px 0px 0px 2px #dc6b6b;
  box-shadow: 0px 0px 6px 0px #E4E7ED, 0px 0px 0px 2px #dc6b6b;;
}

.cards .cards-img {
  position: relative;
}

.cards .cards-img>img {
  width: 100%;
  height: 262.5px;
}

.cards .cards-img .cards-label {
  position: absolute;
  top: 15px;
  right: 15px;
}

.cards .cards-img .cards-label>span {
  border: 2px solid;
  padding: 2px 10px;
  font-size: 12px;
}



.cards .cards-body {
  position: relative;
  padding: 15px;
  background-color: #ede4e4e0;
  text-align: center;
  border-radius: px 0px 5px 5px;
  z-index: 20;
  height: 75px;
  max-height: 75px;
}
.fa-envelope:before {
  content: "\f0e0";
  color: #000000;
}
.fa, .fas {
  font-weight: 900;
  color: #ffffff;
  line-height:inherit;
}

li {
  display: flex;
  justify-content: center;
}
.cards a{
  color: #000000;
  font-size: medium;
  font-weight: 600;
}
.cards a:hover{
  color: #dc6b6b;
  font-size: medium;
}
@media(max-width: 340px)
{
  .cards a {
    color: #000000;
    font-size: small;
    font-weight: 600;
}
.cards a:hover{
  color: #dc6b6b;
  font-size: medium;
}
}
/* h6#telefono {
  color: #ffffff;
  font-size: medium;
} */
.cards .cards-body .cards-name {
  text-transform: uppercase;
  font-size: 14px;
}
i.fa.fa-envelope {
  
  line-height: inherit;
  font-size: medium;
}
i.fa.fa-mobile-alt {
  font-size: medium;
  line-height: inherit;
}

.portfolio {
  padding-bottom: 100px;
}


.inner-box {
  position: relative;
}
.inner-box .image {
  position: relative;
  overflow: hidden;
  border-radius:7px 6px 0px 0px;
  outline: invert;
  max-height: 298px;
}


.inner-box .image img {
    position: relative;
    width: 100%;
    transition: all 0.3s;
    object-fit: cover;
    height:298px;
}

.inner-box .image .overlay-box {
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  top: 0px;
  z-index: 2;
  opacity: 0;
 
  transition: all 0.6s ease;
  overflow: hidden;
}

.inner-box .image .overlay-box:before {
  position: absolute;
  content: "";
  left: -450px;
  top: 0px;
  width: 100%;
  height: 100%;
 
  opacity: 0;
  transition: all 0.4s;
  /* background-color: rgba(18, 6, 18, 0.414); */
}



.inner-box:hover .image img {
  transform: scale(1.1);
}

.inner-box:hover .image .overlay-box:before {
  opacity: 1;
  left: 0px;
}

.inner-box:hover .image .overlay-box {
  opacity: 1;
}

.inner-box:hover .image .overlay-box .overlay-content h3  {
  transform: translateX(0px);
}
.inner-box:hover .image .overlay-box .overlay-content p  {
  transform: translateX(0px);
}
.inner-box:hover .image .overlay-box .overlay-content h6 {
  transform: translateX(0px);
}

.inner-box .image .overlay-box .overlay-inner {
  position: absolute;
  left: 0px;
  bottom: 4px;
  z-index: 1;
  padding: 0px 8px;
}

.inner-box .image .overlay-box .overlay-inner .overlay-content i {
  font-size: 28px;
}

.inner-box .image h3 {
  color: #000000;
  font-size: 17px;
}

.overlay-content h3 {
  text-transform: capitalize;
  background: #ffffff;
  padding: 0px 8px;
  margin-bottom: 0px;
  transform: translateX(-150px);
  transition: all 0.3s;

}
.overlay-content p {
  font-size: 14px;
  margin-bottom: 0px;
  padding: 0px 8px;
  /* margin-top: 2px; */
  background: #ffffff;
  color:#dc6b6b;
  transform: translateX(-150px);
  transition: all 0.5s;
  text-align: left;
}

.portfolio-image {
  width: 30px;
  height: 30px;

  text-align: center;
  background: #ef5656;
  color: #fff;
  padding-top: 16px;
  position: absolute;
  top: 40%;
  font-size: 22px;
  margin-left: -28px;
  left: 50%;
}
@media (max-width: 767px) {
  .portfolio-image{
    display : none ;
    }
  
    }

    


/* end- colaboradores
.video-container {
    position: relative;
    padding-bottom: 36.25%;
    padding-top: 30px;
    border-radius: 10px;
    height:0px;
    overflow: hidden;
    margin: 50px;
  }
  
  .video-container iframe,
  .video-container object,
  .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.col-md-12 {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.7rem;
    margin: 30px 10px 50px 10px;
    align-items: center;
    border-radius: 10px;

}
div#tart-proposito {
  margin: 0px;
  font-size: 25px;
  background: khaki;
}
.col-md-12 h1 {
    color:#dc6b6b;
    font-size: 40px;
    text-decoration: none;
    letter-spacing: 1px;
}
img#\ img-proposito {
  border-radius: 10px;
}
@media (max-width:900px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .col-md-12 h1 {
      color:#dc6b6b;
      font-size:10vw;
      text-decoration: none;
      letter-spacing: 1px;
  }
  div#tart-proposito {
    margin: 15px;
    font-size: 7vw;
    background: khaki;
}
    .main_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
} */




/*** video ***/
/* .container-video-qs{
 este hay que cambiarlo de posición hacia adelante 

} */

.container-fluid .video{
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.4s;
  background-color: rgba(18, 6, 18, 0.414);
}
h1.titulos {
  color: #dc6b6b;
  text-align: left;
  font-size: 35px;
}
h5.parrafo{
  color: #000000;
  /* font-size: 16px; */
  text-align: justify;
line-height: inherit
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
  div#foto-colaborador{
    flex: 0 0 auto;
    width: 49.33333333%;
}
}
@media only screen and (min-width: 0px) and (max-width: 991px){
  h1.titulos {
    color: #dc6b6b;
    font-size: 35px;
    text-align: left;
  }
  h5.parrafo{
    color: #000000;
    font-size: 16px;
    text-align: justify;
  }
}

.btn-play {
  position: relative;
  display: block;
  box-sizing: content-box;
  width: 65px;
  height: 75px;
  border-radius: 100%;
  border: none;
  outline: none !important;
  padding: 28px 30px 30px 38px;
  background: #ffdada;
}

.btn-play:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 120px;
  height: 120px;
  background: #ffe3e3;
  border-radius: 100%;
  animation: pulse-border 1500ms ease-out infinite;
}

.btn-play:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 120px;
  height: 120px;
  background: #FFFFFF;
  border-radius: 100%;
  transition: all 200ms;
}

.btn-play span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  left: 13px;
  border-left: 40px solid #dc6b6b;
  border-top: 28px solid transparent;
  border-bottom: 28px solid transparent;
}

@keyframes pulse-border {
  0% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
      opacity: 1;
  }

  100% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2);
      opacity: 0;
  }
}

.modal-video .modal-dialog {
  position: relative;
  max-width: 800px;
  margin: 60px auto 0 auto;
}

.modal-video .modal-body {
  position: relative;
  padding: 0px;
  
}

.modal-video .close {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0px;
  top: -30px;
  z-index: 999;
  font-size: 30px;
  font-weight: normal;
  color: #FFFFFF;
  background: #000000;
  opacity: 1;
}
iframe#video {
  width: 100%;
  height: 500px;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

/* 
button.nav-link.w-100.d-flex.align-items-center.text-start.p-4.mb-4.active{
  display: block;
  padding: 0.5rem 1rem;
  background-color: #dc6b6b;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
button.nav-link.w-100.d-flex.align-items-center.text-start.p-4.mb-4{
  background-color: #f1d1d1;
} */
.container-fluid.page-header.mb-5.p-0 {
  margin-bottom: 0rem !important;
}
.container-xxl.service.py-5 {
  padding: 15px;
}
body::-webkit-scrollbar {
  width: 15px;
;
}

body::-webkit-scrollbar:hover {
  background-color: #ede4e4e0;
}

ol.breadcrumb.justify-content-center.text-uppercase {
  background-color: transparent;
}


div#container-quienessomos {
  background: white;
  padding: 10px;
  margin-block: 15px;
  border-radius: 10px;
 
}
.row.g-4.wow.fadeInUp {
  padding: o;
  padding: 0;
  margin: 0;
}
button.nav-link.w-100.d-flex.align-items-center.text-start.p-4.mb-4{
  background:#ede4e4e0;
  transition: .5s;
}

button.nav-link.w-100.d-flex.align-items-center.text-start.p-4.mb-4.active {
  background: #dc6b6b}

  button.nav-link.w-100.d-flex.align-items-center.text-start.p-4.mb-4.active:hover {
      background: #dc6b6b;
     border: #dc6b6b 1px solid !important; 
  }
      
  
  button.nav-link.w-100.d-flex.align-items-center.text-start.p-4.mb-4.active h4 {
  color: #FFFFFF !important;
}

img.position-absolute.img-fluid.w-100.h-100 {
  border-radius: 10px;
}
h3.mb-3 {
  text-align: justify;
  color: #dc6b6b;
  font-size: 30px;
}
p.mb-4 {
  text-align: justify;
  font-size: 20px;
}
#icon {
  color: #dc6b6b;
}


.page-header {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.breadcrumb-item+.breadcrumb-item::before {
  float: left;
  padding-right: var(--bs-breadcrumb-item-padding-x);
  color:#dc6b6b;
  content: var(--bs-breadcrumb-divider, "/");
}