*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

     
}
div#mb-5 {
  margin-bottom: 0rem !important;
}
.page-header {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  
}

.page-header-inner {
    background: rgba(0, 0, 0, 0.404);
}
.justify-content-center {
    justify-content: left;
}
ol.breadcrumb.justify-content-left.text-uppercase {
    background-color: transparent;
}

.breadcrumb-item + .breadcrumb-item::before {
    color:#000;
    background-color: transparent;
  
}
.breadcrumb-item::before {
    color: #000;
}

.breadcrumb-item a {
    color: #dc6b6b;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.breadcrumb-item a:hover {
    color: #dc6b6b;
    
}
.mb-5, .my-5 {
    margin-bottom: 0rem!important;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  h1.display-3.text-white.mb-3.animated.slideInDown{
    font-size: 35px;
  }
  li.breadcrumb-item {
    font-size: 8px;
}

}
@media screen and (min-width: 0px) and (max-width: 767px) {
  h1.display-3.text-white.mb-3.animated.slideInDown{
    font-size: 35px;
  }
  li.breadcrumb-item {
    font-size: 8px;
}

}
 @media (max-width:450px){

    html{
       font-size: 50%;
    }
    .heading-image{
      width: 95%;
      height: 30vh;
      background: rgba(0, 0, 0, 0.542);
    }
    .heading h3{
       font-size: 3.5rem;
    }
 
    .title{
       font-size: 3rem;
    }
    .tabs > ul li a {
       font-size: 1rem !important ;
       padding: 10px;
    }
}.container-fluid.page-header.mb-5.p-0 {
  margin-bottom: 0rem !important;
}
 /* end of heading */

 /* article#socios {
  background: #f4f4f4;
}
  */
div#socios {
  background: white;
  border-radius: 10px;
}
/* article#solicitudes {
  background: #f4f4f4;
} */
 .container form{
    width: 100%;
    padding: 10px;
  background:#fff;
  border-radius: 10px;
  margin: 10px;
 }
 div#form {
  background: #fff;
  border-radius: 10px;
  padding: 10px;
}
button.btn.btn-primary  {
  color: #fff;
  background-color: #dc6b6b;
  border-color: #dc6b6b;
}
div#formulario {
  padding-bottom: 3rem !important;
  padding-top: 0rem !important;
}
div#solicitud-tarjeta{
    background-color:#ede4e4e0;
    border-radius: 10px;

 }
 .col-md-12 h1
 {
    text-align: left;
     color: #dc6b6b;
     margin: 15px;
 }
 .container h2
 {
    text-align: left !important;
    color: #dc6b6b;
    font-size: 35px;
 }
 @media only screen and (min-width: 200px) and (max-width: 991px){
  .container h2
  {
     text-align: left !important;
     color: #dc6b6b;
     font-size: 20px;
  }
 }

 .col-form-label  {
    margin-bottom: -7px!important;;
    font-family: 'Montserrat', sans-serif;
 }
 @media (max-width:450px){
 .col-md-12 h1
{
    font-size: 10px;
    color: #dc6b6b;
}
 }
 .cards {
    position: relative;
    margin: 15px 0px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    border-radius: 5px 5px 5px 5px;
   
  }
  
  .cards:hover {
    -webkit-box-shadow: 0px 0px 6px 0px #E4E7ED, 0px 0px 0px 2px #dc6b6b;
    box-shadow: 0px 0px 6px 0px #E4E7ED, 0px 0px 0px 2px #dc6b6b;;
  }
  
  .cards .cards-img {
    position: relative;
  }
  
  .cards .cards-img>img {
    width: 100%;
    height: 262.5px;
  }
  
  .cards .cards-img .cards-label {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .cards .cards-img .cards-label>span {
    border: 2px solid;
    padding: 2px 10px;
    font-size: 12px;
  }
  
 
  
  .cards .cards-body {
    position: relative;
    padding: 10px;
    background-color: #ede4e4e0;
    /* height: 225px;
    max-height: 250px; */
    text-align: center;
    border-radius: px 0px 5px 5px;
    z-index: 20;
    overflow-y: auto;
  }
  h6#parrafo {
    color: #000000;
    text-align: left;
}
ul.pagination {
  display: flex;
  justify-content: center;
  align-content: center;
  align-content: center;
}
 @media(min-width:768px ){
  .cards .cards-body {
    position: relative;
    padding: 10px;
    background-color: #ede4e4e0;
    height: 225px;
    max-height: 250px;
    text-align: center;
    border-radius: px 0px 5px 5px;
    z-index: 20;
    overflow-y: auto;
  }
  h6#parrafo {
    color: #000000;
    text-align: left;
}
 } 
  .cards a{
    color: #000;
  }
  
  .cards .cards-body .cards-name {
    text-transform: uppercase;
    font-size: 14px;
  }
  

  
 
  .portfolio {
    padding-bottom: 100px;
  }
  .portfolio .btn:focus, .portfolio .btn:hover, .portfolio .btn.focus.active {
    box-shadow: none !important;
    outline: 0 !important;
  }
  .portfolio .btn-group .btn {
    border-radius: 0px !important;
    padding-left: 0px;
    font-weight: 700;
  }
  .portfolio .btn-group .btn:hover {
    color: #dc6b6b;
  }
  .portfolio .btn-group:not(:first-child) > .btn, .portfolio .btn-group > .btn:not(:first-child) {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .portfolio .btn.active {
    color: #dc6b6b;
  }
  
  .inner-box {
    position: relative;
  }
  
  .inner-box .image {
    position: relative;
    overflow: hidden;
  }
  
  .inner-box .image img {
    position: relative;
    width: 100%;
    display: block;
    transition: all 0.3s;
    height: 220px;
    padding: 25px 25px 10px;
    object-fit: scale-down;
    object-position: center;
  }
  
  .inner-box .image .overlay-box {
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    top: 0px;
    z-index: 2;
    opacity: 0;
    display: block;
    transition: all 0.6s ease;
    overflow: hidden;
  }
  
  .inner-box .image .overlay-box:before {
    position: absolute;
    content: "";
    left: -450px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0;
    transition: all 0.4s;
   
  
  }
  
  .inner-box:hover .image img {
    transform: scale(1.1);
  }
  
  .inner-box:hover .image .overlay-box:before {
    opacity: 1;
    left: 0px;
  }
  
  .inner-box:hover .image .overlay-box {
    opacity: 1;
  }
  
  .inner-box:hover .image .overlay-box .overlay-content h3 {
    transform: translateX(0px);
  }
  
  .inner-box:hover .image .overlay-box .overlay-content p {
    transform: translateX(0px);
  }
  
  .inner-box .image .overlay-box .overlay-inner {
    position: absolute;
    left: 0px;
    bottom: 4px;
    z-index: 1;
    padding: 0px 8px;
  }
  
  .inner-box .image .overlay-box .overlay-inner .overlay-content i {
    font-size: 28px;
  }
  
  .inner-box .image h3 {
    color: #000000;
    font-size: 17px;
  }
  
  .overlay-content h3 {
    text-transform: capitalize;
    background: rgba(255, 255, 255, 0.715);
    padding: 0px 8px;
    margin-bottom: 0px;
    transform: translateX(-150px);
    transition: all 0.3s;
  }
  .overlay-content p {
    font-size: 14px;
    margin-bottom: 0px;
    padding: 0px 8px;
    margin-top: 2px;
    text-transform: capitalize;
    background: rgba(255, 255, 255, 0.9);
    color: #dc6b6b;
    transform: translateX(-150px);
    transition: all 0.5s;
  }
  
  .portfolio-image {
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    background: #dc6b6b;
    color: #fff;
    padding-top: 16px;
    position: absolute;
    top: 40%;
    font-size: 22px;
    margin-left: -28px;
    left: 50%;
  }
  @media (max-width: 767px) {
    .portfolio-image{
      display : none ;
      }
      }
  