
  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Oswald:wght@200&family=Roboto:wght@700&display=swap');
/* estilos home */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
   

}



body::-webkit-scrollbar {
    width: 15px;
 ;
}
body::-webkit-scrollbar-thumb {
    background-color: rgba(23, 48, 69, 0.7);
}
body::-webkit-scrollbar:hover {
    background-color: rgba(38, 125, 197, 0.97);
}


img {
    width: 100%;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 50vh !important;
  }
  .carousel-item {
    position: relative;
    display: none;
    align-items: center;
    width: 100%;
    backface-visibility: hidden;
    perspective: 1000px;
    height: 50vh;
  }
div#slider-home .carousel-item::before {
    background: #0000005c;
    content: "";
    position: absolute;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}
#slider-home h3 {
    text-transform: capitalize;
    font-size: 50px;
    margin:0px;
    padding: 0px;
}

#slider-home p {
    font-size: 23px;
}

#slider-home .btn {
    background: #f8aa22;
    color: #fff;
    padding: 12px 30px !important;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#slider-home .btn:hover {
    background: #ffffff;
    color: #f82249;
}


/* ----Noticias----- */
/* ---------- News Section Css----------*/

.news {
    margin-top: 2%;
}
.news .form-group {
    width: 80%;
}
.news .form-control {
    background-color: #444343;
    border: 1px solid #5e5e5e;
    color: #f3f3f3;
}
.news > .form-control:focus {
    border-color: #5e5e5e;
    outline: 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0);
}
/* ---------- //News Section Css End ---------- */
h4.border-warning {
    font-size: 40px;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
}
.container.news.md-12 {
    width: 100%;
    margin: inherit;
    max-width: inherit;
}
/* ----------- noticias popular */

div,
h3,
p,
a,
img,
figure {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}
a:focus {
    outline: 0px dotted !important;
}
figure {
    display: block;
}
.text-left {
    text-align: left!important;
    margin: 10px;
    padding: 2px;
}
.box-dest {
    height: 100%;
    position: relative;
    transition: 0.2s all ease;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    -webkit-box-lines: single;
    -moz-box-lines: single;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: block-axis;
    -webkit-box-orient: vertical;
    -moz-box-orient: block-axis;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: stretch;
    -moz-box-align: stretch;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
}
.box-dest:hover {
    -webkit-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.1);
}
.box-dest .img-wrap {
    width: 100%;
    position: relative;
}
.col.xs-12.sm-6.md-3.lg-3.cont-box {
    margin: auto;
    height: auto;
}
.box-dest .cont-txt {
    padding: 25px;
    background-color: #ffffff;
    border-top: none;
    width: 100%;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
}
@media (max-width: 426px) {
    .box-dest .cont-txt {
        padding: 15px;
    }
}
@media (min-width: 426px) and (max-width: 767px) {
    .box-dest .cont-txt {
        padding: 15px;
    }
}
.box-dest .tit {
    color: #000000;
    font-size: 18px;
    line-height: 1.4;
    padding-bottom: 10px;
    font-family: 'Kanit', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
}
@media (max-width: 426px) {
    .box-dest .tit {
        padding-bottom: 15px;
    }
}
@media (min-width: 426px) and (max-width: 767px) {
    .box-dest .tit {
        padding-bottom: 15px;
    }
}
@media (min-width: 767px) and (max-width: 991px) {
    .box-dest .tit {
        padding-bottom: 15px;
    }
}
@media (min-width: 991px) and (max-width: 1277px) {
    .box-dest .tit {
        padding-bottom: 15px;
    }
}
.box-dest .baj {
    line-height: 1.3;
    color: #000000;
    font-size: 14px;
    text-align: center;
  
}
@media (max-width: 426px) {
    .box-dest .baj {
        font-size: 14px;
        padding-bottom: 15px;
    }
}
@media (min-width: 426px) and (max-width: 767px) {
    .box-dest .baj {
        font-size: 14px;
        padding-bottom: 15px;
    }
}
@media (min-width: 767px) and (max-width: 991px) {
    .box-dest .baj {
        font-size: 15px;
        padding-bottom: 10px;
    }
}
.box-dest .links-sec {
    padding-top: 15px;
    margin-top: 5px;
    border-top: 1px solid #e7e7e7;
}
.box-dest .links-sec .link {
    color: #5d6673;
    display: block;
    line-height: 1.4;
    padding-left: 15px;
    position: relative;
    transition: 0.2s all ease;
}
.box-dest .links-sec .link:hover {
    color: #ef1d27;
}
.box-dest .links-sec .link::before {
    content: "•";
    position: absolute;
    left: 0;
    top: 0;
}
.box-dest .links-sec .link + .link {
    margin-top: 20px;
}
.box-dest.box-lg .cont-txt {
    padding: 5px;
}
.box-dest.box-lg .cont-txt .tit {
    font-size: 30px;
    text-align:center;
}
@media (max-width: 426px) {
    .box-dest.box-lg .cont-txt .tit {
        font-size: 24px;
    }
}
@media (min-width: 426px) and (max-width: 767px) {
    .box-dest.box-lg .cont-txt .tit {
        font-size: 24px;
    }
}
@media (min-width: 991px) and (max-width: 1277px) {
    .box-dest.box-lg .cont-txt .tit {
        font-size: 24px;
    }
}
.box-dest.box-lg .cont-txt .baj {
    font-size: 16px;
}
.box-dest.box-lg .links-sec {
    padding-top: 30px;
    margin-top: 30px;
}
* {
    box-sizing: border-box;
    font-family: "FiraSans-Regular", Helvetica Neue, -apple-system, "system-ui",
        BlinkMacSystemFont, sans-serif;
}
*:after,
*:before {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    outline: none;
    color: #070707;
}
img {
    display: block;
    width: 100%;
    -ms-flex-item-align: center;
    -webkit-align-self: center;
    align-self: center;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
}
.img-wrap img {
    -ms-flex-item-align: center;
    -webkit-align-self: center;
    align-self: center;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
}

.col {
    border: 0px solid rgba(0, 0, 0, 0);
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding-box !important;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
}
.col {
    border-left-width: 18px;
    padding: 0 0px;
}
.row .col:first-child {
    margin-left: 0px;
}
@media screen and (max-width: 767px) {
    .xs-12 {
        margin-left: 0;
        width: 100%;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .sm-12 {
        margin-left: 0;
        width: 100%;
    }
}
@media screen and (min-width: 991px) and (max-width: 1199px) {
    .md-6 {
        width: 50%;
    }
}
@media screen and (min-width: 1200px) {
    .lg-6 {
        width: 50%;
    }
}
/*! CSS Used fontfaces */


/* lg-3 */
div,
h3,
a,
img,
figure {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    
}

a:focus {
    outline: 0px dotted !important;
}

figure {
    display: block;
}

.box-dest {
    height: 100%;
    position: relative;
    transition: 0.2s all ease;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    -webkit-box-lines: single;
    -moz-box-lines: single;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: block-axis;
    -webkit-box-orient: vertical;
    -moz-box-orient: block-axis;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: stretch;
    -moz-box-align: stretch;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
}

.box-dest:hover {
    -webkit-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.1);
}

.box-dest .img-wrap {
    width: 100%;
    position: relative;
}

.box-dest .cont-txt {
    padding: 25px;
    background-color: #ffd30e;
    border-top: none;
    width: 100%;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
}

@media (max-width: 426px) {
    .box-dest .cont-txt {
        padding: 15px;
    }
}

@media (min-width: 426px) and (max-width: 767px) {
    .box-dest .cont-txt {
        padding: 15px;
    }
}

.box-dest .tit {
    color: #000000;
    font-size: 18px;
    line-height: 1.4;
    padding-bottom: 10px;
   
}

@media (max-width: 426px) {
    .box-dest .tit {
        padding-bottom: 15px;
    }
}

@media (min-width: 426px) and (max-width: 767px) {
    .box-dest .tit {
        padding-bottom: 15px;
    }
}

@media (min-width: 767px) and (max-width: 991px) {
    .box-dest .tit {
        padding-bottom: 15px;
    }
}

@media (min-width: 991px) and (max-width: 1277px) {
    .box-dest .tit {
        padding-bottom: 15px;
    }
}

.box-dest .links-sec {
    padding-top: 15px;
    margin-top: 5px;
    border-top: 1px solid #e7e7e7;
}

.box-dest .links-sec .link {
    color: #5d6673;
    display: block;
    line-height: 1.4;
    padding-left: 15px;
    position: relative;
    transition: 0.2s all ease;
}

.box-dest .links-sec .link:hover {
    color: #ef1d27;
}

.box-dest .links-sec .link::before {
    content: "•";
    position: absolute;
    left: 0;
    top: 0;
}

.box-dest .links-sec .link + .link {
    margin-top: 20px;
}

.box-dest.box-sm .cont-txt {
    padding: 20px;
}

.box-dest.box-sm .cont-txt .tit {
    font-size: 20px;
}

.box-dest.box-sm .cont-txt .links-sec .link {
    font-size: 14px;
}

* {
    box-sizing: border-box;
    font-family: "FiraSans-Regular", Helvetica Neue, -apple-system, "system-ui",
        BlinkMacSystemFont, sans-serif;
}

*:after,
*:before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    outline: none;
    color: #070707;
}

img {
    display: block;
    width: 100%;
    -ms-flex-item-align: center;
    -webkit-align-self: center;
    align-self: center;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
}

.img-wrap img {
    -ms-flex-item-align: center;
    -webkit-align-self: center;
    align-self: center;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
}

.cont-box {
    margin: 40px 0;
}

@media (max-width: 426px) {
    .cont-box {
        margin-bottom: 20px;
    }
}

@media (min-width: 426px) and (max-width: 767px) {
    .cont-box {
        margin-bottom: 20px;
    }
}

.block-grid .cont-box {
    margin: 0;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    -webkit-box-orient: block-axis;
    -webkit-box-orient: vertical;
    -moz-box-orient: block-axis;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

@media (max-width: 426px) {
    .block-grid .cont-box {
        margin-top: 20px;
    }
}

@media (min-width: 426px) and (max-width: 767px) {
    .block-grid .cont-box {
        margin-top: 20px;
    }
}

.block-grid .box-sm {
    height: auto;
}

.block-grid .box-sm + .box-sm {
    margin-top: 27px;
}

.col {
    border: 0px solid rgba(0, 0, 0, 0);
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding-box !important;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
}

.col {
    border-left-width: 18px;
    padding: 0 0px;
}

@media screen and (max-width: 767px) {
    .xs-12 {
        margin-left: 0;
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .sm-6 {
        width: 50%;
    }
}

@media screen and (min-width: 991px) and (max-width: 1199px) {
    .md-3 {
        width: 25%;
    }
}

@media screen and (min-width: 1200px) {
    .lg-3 {
        width: 25%;
    }
}
/* end noticias */
/* testimonios */

.container{
    max-width: 1040 px;
}
.h2{
    text-align: center;
    color: #000;
}
.card{
    border-radius: 1rem;
    box-shadow: 0px -10px 0px rgb(248, 224, 6);
}
@media(max-width:767px){
    .card{
        margin: 1rem 0.7rem 1rem;
        max-width: 80vw;
    }
}
.card-image{
    width: 9.2rem;
    border-radius: 5rem;
    margin: 1.3rem auto 1rem auto;
}
.col-md-4{
    padding:0  0.5rem;
}
.card-title{
    font-size: 1rem;
    margin-bottom: 0;
    font-weight: bold;
    font-family: 'IM Fell French Canon SC';
}
.card-text{
    text-align: center;
    padding: 1rem 2rem;
    font-size: 0.8rem;
    color: rgb(0, 0, 0);
    line-height: 1.4rem;
}
.footer{
    border-top: none;
    text-align: center;
    line-height: 1.2rem;
    padding: 2rem 0 1.4rem 0;
    font-family: 'Varela Round';
}
#name{
    font-size: 0.8rem;
    font-weight: bold;
}
#position{
    font-size: 0.7rem;
}
a{
    color: rgb(151, 248, 6);
    font-weight: bold;
}
a:hover{
    color: rgb(151, 248, 6);
}
/* end- estilos home */
/* estilos noticias */
*,
::after,
::before {
    
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }
    

h2,
h5 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h2 {
    font-size: calc(1.325rem+ 0.9vw);
}

@media (min-width: 1200px) {
    h2 {
        font-size: 2rem;
    }
}

a {
    color: #007bff;
    text-decoration: none;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-12 {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.col-12 {
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

h5 {
    font-size: 1.25rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

ul {
    padding-left: 2rem;
}

ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    color: #0d6efd;
    text-decoration: underline;
}

a:hover {
    color: #000000;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
}

figure {
    margin: 0 0 1rem;
}

img {
    vertical-align: middle;
}

input,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

[type="submit"] 
  {
     appearance: none;
    -webkit-appearance: button;
}

[type="submit"]:not(:disabled) {
    cursor: pointer;
}

textarea {
    resize: vertical;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.container {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -0.5);
    margin-left: calc(var(--bs-gutter-x) * -0.5);
}

.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
}

@media (min-width: 992px) {
    .col-lg-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .col-lg-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .col-lg-12 {
        flex: 0 0 auto;
        width: 100%;
    }
    .gx-lg-5 {
        --bs-gutter-x: 3rem;
    }
}

@media (min-width: 1200px) {
    .col-xl-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .col-xl-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .form-control {
        transition: none;
    }
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control:disabled {
    background-color: #e9ecef;
    opacity: 1;
}

textarea.form-control {
    min-height: calc(1.5em+ (0.75rem+ 2px));
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .btn {
        transition: none;
    }
}

.btn:hover {
    color: #212529;
}

.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.btn:disabled {
    pointer-events: none;
    opacity: 0.65;
}

.d-inline {
    display: inline !important;
}

.d-flex {
    display: flex !important;
}

.w-100 {
    width: 100% !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.align-items-center {
    align-items: center !important;
}

.m-0 {
    margin: 0 !important;
}

.my-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-2 {
    margin-top: 0.5rem !important;
}

.mt-4 {
    margin-top: 1.5rem !important;
}

.mt-5 {
    margin-top: 3rem !important;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.ms-3 {
    margin-left: 1rem !important;
}

.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

@media (min-width: 992px) {
    .d-lg-flex {
        display: flex !important;
    }
}

.fa-user:before {
    content: "\f007";
}

.fa-comment:before {
    content: "\f075";
}

.fa-caret-right:before {
    content: "\f0da";
}

.fa-share-alt:before {
    content: "\f1e0";
}

.far,
.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.fa-calendar-alt:before {
    content: "\f073";
}

.fa-caret-right:before {
    content: "\f0da";
}

.fa-comment:before {
    content: "\f075";
}

.fa-share-alt:before {
    content: "\f1e0";
}

.fa-user:before {
    content: "\f007";
}

.far {
    font-weight: 400;
}

.far,
.fas {
    font-family: "Kanit", sans-serif;
    font-family: "Oswald", sans-serif;
    font-family: "Roboto", sans-serif;
}

.fas {
    font-weight: 900;
}

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a,
div,
h2,
h5,
img,
li,
p,
span,
ul {
    border: 0;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: none !important;
    padding: 0;
    vertical-align: baseline;
}

h2,
h5 {
    margin: 10px 0;
}

h2 {
    font-size: 30px;
    font-weight: 400;
}

a {
    color: inherit;
    outline: none !important;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

ul li {
    list-style: none;
}

ul {
    padding-left: 0;
}

li,
ul {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;
    border: none;
    outline: none;
}

.btn {
    border: none !important;
}

h2 {
    font-family: "Kanit", sans-serif;
    font-family: "Oswald", sans-serif;
    font-family: "Roboto", sans-serif;
}

.btn:focus,
.form-control:focus {
    box-shadow: none;
    border: none;
    outline: 0;
}

.comon-heading {
    font-weight: 600;
    color: #000000;
    font-size: 35px;
}

.form-control:focus {
    box-shadow: none !important;
}

.blog-post ul li {
    margin: 0 10px;
}

.category-div {
    background: #f1f1f1;
    padding: 30px;
    display: inline-block;
    width: 100%;
}

.category-div ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    transition: all 0.5s;
    text-transform: capitalize;
}

.category-div ul li {
    border-bottom: solid 1px #fff;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.recent-post-div-insiide a {
    text-decoration: none;
    border-bottom: solid 1px #fff;
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.recent-post-div figure {
    width: 90px;
    height: 60px;
    overflow: hidden;
    margin: 0;
    transform: scale(1);
    border-radius: 8px;
}

.blog-post figure {
    width: 100%;
    height: 320px;
    overflow: hidden;
}

.blog-post figure img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.comon-com-div figure {
    width: 63px;
    height: 63px;
    overflow: hidden;
    border-radius: 50%;
}

.comon-com-div figure img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.comment-text {
    width: 89%;
}

.comment-text span {
    font-size: 13px;
    font-weight: 600;
    color: #00579a;
}

.leave-sec-part {
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    box-shadow: 5px 7px 15px 2px rgb(82 90 101 / 12%);
    margin: 30px 0;
    padding-bottom: 20px;
}

.leave-sec-part .form-control {
    border: none;
    background: #f1f1f1;
    height: 45px;
}

.leave-sec-part .subimt-comment {
    background: #ee1d36;
    color: #fff;
    font-weight: 600;
}

.leave-sec-part textarea {
    height: 100px !important;
    resize: none;
}

.leave-sec-part .form-group {
    margin-top: 20px;
}

.recent-post-div h5 {
    width: 70%;
    color: #212529;
    font-size: 17px;
    line-height: 25px;
    font-weight: 600;
    transition: all 0.5s;
    text-transform: capitalize;
}

@media (max-width: 900px) {
    .comon-heading {
        font-weight: 600;
        color: #000000;
        font-size: 29px;
    }
}

@media (max-width: 768px) {
    .share-div ul li {
        font-size: 12px;
        margin-bottom: 10px;
    }
}
/* end-noticias */
/* que-hacemos */
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Oswald:wght@200;400&family=Roboto:wght@700&display=swap");

body::-webkit-scrollbar {
    width: 15px;
 ;
}
body::-webkit-scrollbar-thumb {
    background-color: rgba(23, 48, 69, 0.7);
}
body::-webkit-scrollbar:hover {
    background-color: rgba(38, 125, 197, 0.97);
}

div,
h3,

img,
figure {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;

}

.heading{
    min-height: 30vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
    background: url(../images/heading-bg.webp) no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
 }
 
 .heading h3{
    font-size: 5rem;
    color:var(--black);
    text-transform: uppercase;
 }
 
 .heading p{
    font-size: 2.5rem;
    color:var(--light-color);
 }
 
 .heading p a{
    color:var(--purple);
 }
 
 .heading p a:hover{
    text-decoration: underline;
 }
 
a,
a:active,
a:focus {
    color: rgb(225, 226, 171);

    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
}
h1.text-center {
    height: 100px;
    color: rgb(223, 226, 43);
}
.breadcrumb-item {
    text-align: center;
}

body {
    background-color: #ffffff;
    
}
.card {
    border-radius: 10px;
    margin: 10px auto;
}
.card-title {
    text-transform: uppercase;
    color: #000000;
}

.card-text {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    color: #000000;

}

a.btn,
a.btn:visited {
    color: #ff8888;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
/* end- que-hacemos */
/* competencias */


.heading{
    min-height: 30vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
    background: url(https://www.utalca.cl/content/uploads/2021/08/Universidad-de-Talca-2021-08-25T175745.658.png) no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
 }
.heading::before {
    background: #0101015c;
    content: "";
    position: absolute;
    width: 100%;
    min-width:26vw ;
    height:497px;;
   
    overflow: hidden;
}
 .heading h3{
    font-size: 5rem;
    
    text-transform: uppercase;
    font-family: 'Kanit', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
color: rgb(255, 255, 255);
 }
 
 .heading p{
    font-size: 2.5rem;
    color:var(--light-color);
 }
 
 .heading p a{
    color:var(--purple);
 }
 
 .heading p a:hover{
    text-decoration: underline;
 }
 /* end of heading */
 *:focus {
   outline: 1px dotted rgb(255, 0, 191);
 }
 
 .tabs > ul {
   position: relative;
   margin: 0;
   padding: 0;
   list-style: none;
   border-bottom: 1px solid #000000;
   font-size: 0;
 }
 .tabs > ul .indicator {
   display: block;
   position: absolute;
   bottom: 0;
   left: 0;
   height: 3px;
   width: 20%;
   background: #f29b;
   transform: translateZ(0) translateX(0);
   transition: all 0.3s ease;
 }
 .tabs > ul li {
   display: inline-block;
   font-size: 14px;
   width: 20%;
 }
 .tabs > ul li a {
   display: block;
   position: relative;
   padding: 20px;
   text-decoration: none;
   text-align: center;
   font-weight: bold;
   color: black;
   transition: all 0.3s ease 0.4s;
 }
 .tabs > ul li a:before {
   content: "";
   display: block;
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   background: #f2c12e;
   transform: translateZ(0) translateY(100%);
   transition: all 0.3s ease 0.3s;
   z-index: -1;
    }
    .section1.h2
   {
      color: #000000;
   }
 .tabs > ul li a[aria-selected] {
   color: rgb(0, 0, 0);
 }
 .tabs > ul li a[aria-selected]:before {
   transform: translateZ(0) translateY(0);
 }
 .tabs > section[aria-hidden=true] {
   display: none;
 }

 @media (max-width:450px){

   html{
      font-size: 50%;
   }

   .heading h3{
      font-size: 3.5rem;
   }

   .title{
      font-size: 3rem;
   }

}