@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
 
  height: 100vh;
  color: white;
  display: flex;
  overflow: hidden;
}

.sidebar {
  width: 240px;
  height: 250%;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  border-radius: 50%;
  color:#F26363;
}
.icon-menu:before {
  content: "\e9bd";
  
}
.menu-btn:hover {
  background-color: #F26666;
}

.sidebar-items {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 2px;
  border-radius: 8px;
  cursor: pointer;
}
.item:hover {
  background-color: #272727;
}
.item img {
  width: 24px;
  height: 24px;
  margin-bottom: 6px;
}
.item span {
  font-size: 11px;
}

#menu {
  width: 240px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FFCF2C;
  padding: 16px 12px;
  display: flex;
  flex-direction: column;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
  z-index: 10;
}
#menu.visible {
  transform: translateX(0);
}

.menu-header {
  display: flex;
  align-items: center;
  padding-left: 6px;
  gap: 24px;
  margin-bottom: 20px;
}

.menu-group {
  padding: 16px 0;
  border-block: 1px solid #3f3f3f;
}

.menu-item {
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 10px 12px;
  border-radius: 10px;
  cursor: pointer;
}
.menu-item:hover {
  background-color: #272727;
}
.menu-item img {
  margin-right: 24px;
}

section {
  width: 100%;
  height: 100%;
}

nav {
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 16px;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main h1 {
  font-size: 42px;
}