@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
   
    height: 100vh;
    color: white;
    display: flex;
    overflow: hidden;
  }
   
body {
        font-family: "Roboto", sans-serif;
      
        height: 100vh;
        color: white;
        display: flex;
        overflow: hidden;
      }
      .menu-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        cursor: pointer;
        border-radius: 50%;
        color:#F26363;
      }


