
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

     
}
div#mb-5 {
  margin-bottom: 0rem !important;
}
.page-header {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  
}

.page-header-inner {
    background: rgba(0, 0, 0, 0.404);
}
.justify-content-center {
    justify-content: left;
}
ol.breadcrumb.justify-content-left.text-uppercase {
    background-color: transparent;
}

.breadcrumb-item + .breadcrumb-item::before {
    color:#000;
    background-color: transparent;
  
}
.breadcrumb-item::before {
    color: #000;
}

.breadcrumb-item a {
    color: #dc6b6b;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.breadcrumb-item a:hover {
    color: #dc6b6b;
    
}
.mb-5, .my-5 {
    margin-bottom: 0rem!important;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  h1.display-3.text-white.mb-3.animated.slideInDown{
    font-size: 35px;
  }
  li.breadcrumb-item {
    font-size: 8px;
}

}
@media screen and (min-width: 0px) and (max-width: 767px) {
  h1.display-3.text-white.mb-3.animated.slideInDown{
    font-size: 35px;
  }
  li.breadcrumb-item {
    font-size: 8px;
}
}
/* end heading  */
.container-proyectos{
  margin: 0;
  padding: 15px;

}
article {
  background: white;
}
menu {
  padding: 10px;
  margin: 5px;
  background-color: white;
  border-radius: 10px;
}
div#filtros {
  background: #efeaea;
  margin: 2px;
  border-radius: 10px;
  margin-block: 10px;
}
div#row-col {
  background: #ede4e4e0;
  margin: 2px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 15px;
}
.col-md-8 {
 
  margin: -2px;
  border-radius: 10px;

}
.col-md-12
{
  padding: 25px;
}
.image.position-relative {
 border-radius : 10px 10px 0px 0px;
  margin: 0px;
}
.card-body.row.no-gutters.align-items-center {
  padding: 0rem;
}
/* ---cards proyectos */


 

 /* buscador */
 .form-control-borderless {
  border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
button.btn.btn-lg.btn-buscador {
  background-color:#dc6b6b;
  border-color: #dc6b6b;
  color: #FFF;
}
.btn-buscador {
  color: #fff;
  background-color:#dc6b6b;
   border-color: #dc6b6b; 
}
button.btn.btn-filtros{
  color: #fff;
  background-color: #dc6b6b;
  border-color: #dc6b6b;
}
/*----------------------------*\
	proyecto
\*----------------------------*/
.col-md-4 #filtros {
  border: none;
  border: 1px solid #000000;
  background-color: #f5b2b2;
  }
  




.proyecto {
  position: relative;
  margin: 10px 0px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  border-radius: 5px 5px 5px 5px;
}

.proyecto:hover {
  -webkit-box-shadow: 0px 0px 6px 0px #E4E7ED, 0px 0px 0px 2px #dc6b6b;
  box-shadow: 0px 0px 6px 0px #E4E7ED, 0px 0px 0px 2px #dc6b6b;;
}

.proyecto .proyecto-img {
  position: relative;
}

.proyecto .proyecto-img>img {
  width: 100%;
  height: 262.5px;
}

.proyecto .proyecto-img .proyecto-label {
  position: absolute;
  top: 15px;
  right: 15px;
}
/* 
.proyecto .proyecto-img .proyecto-label>span {
  border: 2px solid;
  padding: 2px 10px;
  font-size: 12px;
}

.proyecto .proyecto-img .proyecto-label>span.sale {
  background-color: #FFF;
  border-color: #D10024;
  color: #D10024;
}

.proyecto .proyecto-img .proyecto-label>span.new {
  background-color: #D10024;
  border-color: #D10024;
  color: #FFF;
} */

.proyecto .proyecto-body {
  position: relative;
  padding: 15px;
  background-color: #FFF;
  text-align: center;
  z-index: 20;
  border-radius: 0px 0px 10px 10px;
    height: 90px;
    max-height: 90px;
}


.proyecto a{
  color: #000;
}
.proyecto a:hover{
  color: #dc6b6b;
}


.proyecto .proyecto-body .proyecto-name {
  text-transform: none;
  font-size: 14px;
}

.proyecto .proyecto-body .proyecto-name>a {
  font-weight: 700;
}


.proyecto .proyecto-body .proyecto-descripcion {
  color: #dc6b6b;
  font-size: 18px;
}



/*----------------------------*\
	Widget proyecto
\*----------------------------*/

.proyecto-widget {
  position: relative;
}

.proyecto-widget+.proyecto-widget {
  margin: 5px 0px;
}

.proyecto-widget .proyecto-img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 60px;
}

.proyecto-widget .proyecto-img>img {
  width: 100%;
}

.proyecto-widget .proyecto-body {
  padding-left: 75px;
  min-height: 60px;
}

.proyecto-widget .proyecto-body .proyecto-category {
  text-transform: uppercase;
  font-size: 10px;
  color: #8D99AE;
}

.proyecto-widget .proyecto-body .proyecto-name {
  text-transform: uppercase;
  font-size: 12px;
}

.proyecto-widget .proyecto-body .proyecto-name>a {
  font-weight: 700;
}



.proyecto-widget .proyecto-body .proyecto-descripcion .qty {
  font-weight: 400;
  margin-right: 10px;
}

.proyecto-widget .delete {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  text-align: center;
  font-size: 10px;
  padding: 0;
  background: #1e1f29;
  border: none;
  color: #FFF;
}

/*----------------------------*\
	proyectos slick
\*----------------------------*/

.proyectos-slick .slick-list {
  padding-bottom: 60px;
  margin-bottom: -60px;
  z-index: 2;
}

.proyectos-slick .proyecto.slick-slide {
  margin: 15px;
}

.proyectos-tabs>.tab-pane {
  display: block;
  height: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: hidden;
  padding-bottom: 60px;
  margin-bottom: -60px;
}

.proyectos-tabs>.tab-pane.active {
  opacity: 1;
  visibility: visible;
  height: auto;
}

.proyectos-slick-nav {
  position: absolute;
  right: 15px;
  z-index: 10;
}

.proyectos-slick-nav .slick-prev, .proyectos-slick-nav .slick-next {
  position: static;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  width: 20px;
  height: 20px;
  display: inline-block !important;
  margin: 0px 2px;
}

.proyectos-slick-nav .slick-prev:before, .proyectos-slick-nav .slick-next:before {
  font-size: 14px;
}



/*----------------------------*\
	Aside
\*----------------------------*/

.aside+.aside {
  margin-top: 30px;
}

.aside>.aside-title {
  text-transform: uppercase;
  font-size: 18px;
  margin: 15px 0px 30px;
}

/*-- checkbox Filter --*/

.checkbox-filter>div+div {
  margin-top: 10px;
}

.checkbox-filter .input-radio label, .checkbox-filter .input-checkbox label {
  font-size: 12px;
}

.checkbox-filter .input-radio label small, .checkbox-filter .input-checkbox label small {
  color: #8D99AE;
}

/*-- descripcion Filter --*/

#descripcion-slider {
  margin-bottom: 15px;
}

.noUi-target {
  background-color: #FFF;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #E4E7ED;
  border-radius: 0px;
}

.noUi-connect {
  background-color: #D10024;
}

.noUi-horizontal {
  height: 6px;
}

.noUi-horizontal .noUi-handle {
  width: 12px;
  height: 12px;
  left: -6px;
  top: -4px;
  border: none;
  background: #D10024;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 50%;
}

.noUi-handle:before, .noUi-handle:after {
  display: none;
}

.descripcion-filter .input-number {
  display: inline-block;
  width: calc(50% - 7px);
}

/*----------------------------*\
	Store
\*----------------------------*/

.store-filter {
  margin-bottom: 15px;
  margin-top: 15px;
}

/*-- Store Sort --*/

.store-sort {
  display: inline-block;
}

.store-sort label {
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  margin-right: 15px;
}

/*-- Store Grid --*/

.store-grid {
  float: right;
}

.store-grid li {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #FFF;
  border: 1px solid #E4E7ED;
  text-align: center;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.store-grid li+li {
  margin-left: 5px;
}

.store-grid li:hover {
  background-color: #E4E7ED;
  color: #D10024;
}

.store-grid li.active {
  background-color: #D10024;
  border-color: #D10024;
  color: #FFF;
  cursor: default;
}

.store-grid li a {
  display: block;
}

/*-- Store Pagination --*/

/* .store-pagination {
  float: right;
}

.store-pagination li {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #FFF;
  border: 1px solid #E4E7ED;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.store-pagination li+li {
  margin-left: 5px;
}

.store-pagination li:hover {
  background-color: #E4E7ED;
  color: #D10024;
}

.store-pagination li.active {
  background-color: #f07388;
  border-color: #D10024;
  color: #FFF;
  font-weight: 500;
  cursor: default;
}

.store-pagination li a {
  display: block;
}

.store-qty {
  margin-right: 30px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
} */

@media only screen and (max-width: 1201px) {}

@media only screen and (max-width: 991px) {
  #top-header .header-links.pull-left {
    float: none !important;
  }
  #top-header .header-links.pull-right {
    float: none !important;
    margin-top: 5px;
  }
  .header-logo {
    float: none;
    text-align: center;
  }
  .header-logo .logo {
    display: inline-block;
  }
  #proyecto-imgs {
    margin-bottom: 60px;
    margin-top: 15px;
  }
  #rating {
    text-align: center;
  }
  #reviews {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .section-title .section-nav {
    float: none;
    margin-top: 10px;
  }
  .section-tab-nav li {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 480px) {
  [class*='col-xs'] {
    width: 100%;
  }
  .store-grid {
    float: none;
    margin-top: 10px;
  }
  .store-pagination {
    float: none;
    margin-top: 10px;
  }
}


.portfolio {
  padding-bottom: 100px;
}
.portfolio .btn:focus, .portfolio .btn:hover, .portfolio .btn.focus.active {
  box-shadow: none !important;
  outline: 0 !important;
}
.portfolio .btn-group .btn {
  border-radius: 0px !important;
  padding-left: 0px;
  font-weight: 700;
}
.portfolio .btn-group .btn:hover {
  color: #dc6b6b;
}
.portfolio .btn-group:not(:first-child) > .btn, .portfolio .btn-group > .btn:not(:first-child) {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.portfolio .btn.active {
  color: #dc6b6b;
}

.inner-box {
  position: relative;
}

.inner-box .image {
  position: relative;
  overflow: hidden;
}

.inner-box .image img {
  position: relative;
  width: 100%;
  display: block;
  transition: all 0.3s;
  height: 262.5px;
}

.inner-box .image .overlay-box {
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  top: 0px;
  z-index: 2;
  opacity: 0;
  display: block;
  transition: all 0.6s ease;
  overflow: hidden;
}

.inner-box .image .overlay-box:before {
  position: absolute;
  content: "";
  left: -450px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0;
  transition: all 0.4s;
 

}

.inner-box:hover .image img {
  transform: scale(1.1);
}

.inner-box:hover .image .overlay-box:before {
  opacity: 1;
  left: 0px;
}

.inner-box:hover .image .overlay-box {
  opacity: 1;
}

.inner-box:hover .image .overlay-box .overlay-content h3 {
  transform: translateX(0px);
}

.inner-box:hover .image .overlay-box .overlay-content p {
  transform: translateX(0px);
}

.inner-box .image .overlay-box .overlay-inner {
  position: absolute;
  left: 0px;
  bottom: 4px;
  z-index: 1;
  padding: 0px 8px;
}

.inner-box .image .overlay-box .overlay-inner .overlay-content i {
  font-size: 28px;
}

.inner-box .image h3 {
  color: #000000;
  font-size: 17px;
}

.overlay-content h3 {
  text-transform: capitalize;
  background: rgba(255, 255, 255, 0.715);
  padding: 0px 8px;
  margin-bottom: 0px;
  transform: translateX(-150px);
  transition: all 0.3s;
}
.overlay-content p {
  font-size: 14px;
  margin-bottom: 0px;
  padding: 0px 8px;
  margin-top: 2px;
  text-transform: capitalize;
  background: rgba(255, 255, 255, 0.9);
  color: #dc6b6b;
  transform: translateX(-150px);
  transition: all 0.5s;
}

.portfolio-image {
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  background: #dc6b6b;
  color: #fff;
  padding-top: 16px;
  position: absolute;
  top: 40%;
  font-size: 22px;
  margin-left: -28px;
  left: 50%;
}
@media (max-width: 767px) {
  .portfolio-image{
    display : none ;
    }
    }
